.clients {
    padding-top: 13rem;
    padding-bottom: 18.7rem;
    &-title {
        font-size: 9.6rem;
        padding-bottom: 10rem;
        color: $black;
    }

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;


        &__heading {
            font-size: 2.4rem;
            color: $black;
        }
        &__marque {
            width: calc(100%*9/12);
            position: relative;
            overflow: hidden;
            display: flex;
            // }
            @include breakpoint-down(medium) {
                width: 100%;
            }
            
        }
        &__icon {
            width: 400%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            will-change: transform;
            &:not(:last-child),
            & > li:not(:last-child){
                margin-right: 12.6rem;
            }
        }
        &__w7 {
            width: 70px;
        }
    }
}
.opacity-marquee {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        height: calc(100% + 10px);
        z-index: 2;
        background-image: linear-gradient(-90deg,hsl(0, 0%, 97%),hsla(0,0%,97.6%,.85) 10%,hsla(0,0%,97.6%,0) 20%,hsla(0,0%,97.6%,0) 80%,hsla(0,0%,97.6%,.85) 90%,#F7F7F7);
    }
}
.marqueForward {
    will-change: transform;
}
.line {
    margin-top: 40px;
    margin-bottom: 111px;
    width: 0%;
    height: 2px;
    background-color: #7E7E7E;
}

.reviews {
    padding-top: 10rem;

    &-flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &-personal {
        display: flex;
        > img {
            border-radius: 50%;
            width: 6.2rem;
            height: 6.2rem;
            object-fit: cover;
            margin-right: 3rem;
        }

        &__text {
            flex-direction: column;
            display: flex;
            height: 100%;
            width: 70%;
            > p {
                font-size: 2.4rem;

                &:nth-child(1){
                    padding-bottom: 10px;
                }
                &:nth-child(2) {
                    padding-bottom: 21px;
                }
            }

            > ul {
                margin-top: auto;

                > li {
                    display: inline-block;
                    margin-right: 10px;

                    > img {
                        width: 14px;
                    }
                }
            }
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        width: fit-content;
        > img {
            
            margin-right: 3rem;
            object-fit: cover;
        }

        > p {
            font-size: 2.4rem;
        }
    }

    &-quote {
        font-size: 3.6rem;
        line-height: 1.2;
    }
}
.reviewSwiper,
.personSwiper {
    width: calc(100%*6/12);

    @include breakpoint-down(small) {
        width: 100%;
    }

    > .swiper-wrapper > .swiper-slide:not(.swiper-slide-active){
        opacity: 0 !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1600px){
    .reviews-quote {
        font-size: 1.875vw;
    }
}
@include breakpoint-down(medium) {
    .clients {
        padding-top: 9rem;
        padding-bottom: 10rem;
    }
    .clients-list__heading {
        display: none;
    }
    .reviews-quote {
        font-size: 1.8rem;
    }
    .reviews-personal__text {
        > p  {
            font-size: 2rem;
            &:nth-child(2) {
                padding-bottom: 20px;
                max-width: 300px;
            }
        }
    }
}
@include breakpoint-down(small) {
    .clients {
        padding-top: 43px;
        padding-bottom: 58px;
        &-title {
            font-size: 4.8rem;
            line-height: 130%;
            padding-bottom: 50px;
        }
        &-list {
            flex-direction: column;
            padding-bottom: 55px;

            &__heading {
                display: none;
            }

            &__icon {

                > li:not(:last-child) {
                    margin-right: 3.5rem;
                }

                > li > img {
                    object-fit: cover;
                    width: 150px;
                }

                &:not(:last-child){
                    margin-right: 7rem;
                }
            }
        }
    }
    .reviews {
        padding-top: 66px;

        &-flex {
            flex-direction: column;
        }

        &-info {
            width: 100%;
            padding-bottom: 15px;
        }

        &-personal__text > p {
            font-size: 1.4rem;
            line-height: 130%;

            &:nth-child(1) {
                padding-bottom: unset;
            }

        }
        &-logo {
            > p {
                font-size: 1.4rem;
                line-height: 130%;
            }

            > img {
                width: 3.5rem;
                margin-right: 6rem;
            }
        }

        &-quote {
            font-size: 1.4rem;
            line-height: 130%;
            width: 100%;
        }
    }

    .line {
        display: none;
    }
}