body {
  font-size: 2.4rem;
  line-height: 120%;
}
h1 {
  font-size: 9.6rem;
  line-height: 120%;
  font-weight: 400;
}
h2 {
  font-size: 7.2rem;
  line-height: 120%;
  font-weight: 500;
}
h3 {
  font-size: 6.4rem;
  line-height: 120%;
}
h4 {
  font-size: 4.8rem;
  line-height: 120%;
}
h5 {
  font-size: 3.6rem;
  line-height: 120%;
}
h6 {
  font-size: 3.6rem;
  line-height: 120%;
}
p {
  font-size: 2.4rem;
  line-height: 120%;
}

//General style

body .a-owl > * + * {
  margin-top: 2rem;
}
body .a-owl-s > * + * {
  margin-top: 1rem;
}

section {
  padding: 10rem 0;
}
.stk-block .stk-block.alignwide, .stk-block:is(.aligncenter,.alignwide,.alignfull)>.stk-content-align.alignwide {
  max-width: 1920px;
  padding-left: 72px;
  padding-right: 72px;
}

a-margin-l {
  margin: 5rem 0;
}
//Scroll process
#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 4px;
  background: #7983ff;
  z-index: 10000;
}

//home page

.video-wrapper {
  padding-top: 10rem;
}


// Blog Detail page

.blog-content-wrapper {
  margin: 10rem 0;
}

//Project

.project.works-wrapper {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 350px);
    grid-gap: 5rem;
    .project-item {
      & > img {
        width: 100%;
        height: 100%;
        position: static;
      }
    }
    .project-item:nth-child(1) {
      grid-area: 1/1/3/3;
    }
    .project-item:nth-child(7) {
      grid-area: 4/1/6/3;
    }
  }
}
.project-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 350px);
  grid-gap: 20px 24px;
  padding-bottom: 13rem;
  .project-item {
    &:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1/3;
    }
    & > img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}


//Project Single page
.single-work  {
  .wrapper {
    background-color: transparent;
  }
  .work-wrapper {
    .work-header-container {
      padding-bottom: 5rem;
      text-align: center;
      padding-top: 10rem;
      .projectName-wrapper {
        display: flex;
        justify-content: center;
        .projectName {
          border-radius: 30px;
          border: 1px solid;
          padding: 1rem;
          margin: 0 1rem; 
        }
      }
           
    }
    .project-button {
      padding-bottom: 5rem;
    }
  }
  
}



//Single Insights post

.relativePost-wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.signupEmail {
  .container {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    form {
      display: grid;
      grid-template-columns: 3fr 4fr 1fr;
      grid-gap: 3rem;
      margin-top: 2rem;
      input {
        border-radius: 30px;
        border: 2px solid #000;
        height: 60px;
        padding: 2.5rem 3rem;
        &[type=submit] {
          text-indent: -999px;
          display: block;
          position: relative;
          text-decoration: none;
          background: url(/wp-content/uploads/2022/09/Arrow-min.png) no-repeat center;
          background-color: black;
          background-size: contain;
          border-radius: 50%;
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}