<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What is content marketing and why it matters (to your business.) - Align</title>
    <meta name="dc.title" content="What is content marketing and why it matters (to your business.) - Align" />
    <meta name="dc.description"
        content="Content marketing has moved on from being a buzzword to one of the most important inbound marketing practices. It&#039;s easy to be skeptical about content as there&#039;s a general belief that people–especially millennials and gen Z– don&#039;t read as much compared to the past. However, it has been proven to&hellip; A creative design agency aligning innovation, creativity, and purpose What is content marketing and why it matters (to your business.)" />
    <meta name="dc.relation" content="https://align.vn/blog/content-marketing/" />
    <meta name="dc.source" content="https://align.vn/" />
    <meta name="dc.language" content="en_US" />
    <meta name="description"
        content="Content marketing has moved on from being a buzzword to one of the most important inbound marketing practices. It&#039;s easy to be skeptical about content as there&#039;s a general belief that people–especially millennials and gen Z– don&#039;t read as much compared to the past. However, it has been proven to&hellip; A creative design agency aligning innovation, creativity, and purpose What is content marketing and why it matters (to your business.)" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://align.vn/blog/content-marketing/" />
    <meta property="og:url" content="https://align.vn/blog/content-marketing/" />
    <meta property="og:site_name" content="Align" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/alignlab" />
    <meta property="article:publisher" content="https://www.facebook.com/alignlab" />
    <meta property="article:section" content="Case Study" />
    <meta property="og:title" content="What is content marketing and why it matters (to your business.) - Align" />
    <meta property="og:description"
        content="Content marketing has moved on from being a buzzword to one of the most important inbound marketing practices. It&#039;s easy to be skeptical about content as there&#039;s a general belief that people–especially millennials and gen Z– don&#039;t read as much compared to the past. However, it has been proven to&hellip; A creative design agency aligning innovation, creativity, and purpose What is content marketing and why it matters (to your business.)" />
    <meta property="og:image" content="/Images/BlogBannerOne.png" />
    <meta property="og:image:secure_url" content="/Images/BlogBannerOne.png" />
    <meta property="og:image:width" content="2000" />
    <meta property="og:image:height" content="1333" />
    <meta property="og:image:alt" content="Shopee Design Align.vn" />
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/App/Scss/style.css">
    <!-- Link Locomotive CSS -->
    <link rel="stylesheet" href="/App/Css/locomotive.css">
    <!-- Link Splitting CSS -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="/Images/ShortCut.png" />
</head>

<body>
    <div id="loading">
    </div>
    <div class="cursor-follow">
        <span class="cursor-view">
            View
        </span>
    </div>
    <div id="process-bar">
    </div>
    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">
                    <div class="close-absolute">
                        <div class="menu-black__close hide-cursor">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Start-a-project.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" class="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    class="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Start-a-project.html">Start a project</a>
                        <a href="tel:0902826031">(+84)902 826 031</a>
                        <a href="mailto:info@align.vn">info@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <!-- <a href="/career.html" onclick="return false;" class="hover">Career</a> -->
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper smooth-scroll" data-scroll-container>
        <div class="mt">
            <section class="blogDetail last-section">
                <div class="container">
                    <div class="insightsPage-heading blogDetail-heading">
                        What is content marketing and why it matters (to your business.)
                    </div>
                    <div class="button-type">
                        <div>Website</div>
                    </div>

                    <h2 class="blogDetail-h2">
                        Content marketing has moved on from being a buzzword to one of the most important inbound
                        marketing practices. It's easy to be skeptical about content as there's a general belief that
                        people–especially millennials and gen Z– don't read as much compared to the past. However, it
                        has been proven to be on the contrary, as […]
                    </h2>

                    <div class="wrap-parallax blogDetail-parallax">
                        <img src="/Images/ContentMarketing.webp" alt="" class="image-parallax">
                    </div>

                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            Content marketing has moved on from being a buzzword to one of the most important inbound
                            marketing practices. It's easy to be skeptical about content as there's a general belief
                            that people–especially millennials and gen Z– don't read as much compared to the past.
                            However, it has been proven to be on the contrary, as
                            <span class="yellow">
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://www.demandmetric.com/content/content-marketing-infographic">
                                    68% would spend time reading more about the brands that interest them
                                </a>
                            </span>.
                        </div>
                        <div class="blogDetail-desc__content">
                            But do businesses actually benefit from content marketing? The answer is absolutely YES and
                            in fact, it's becoming increasingly more important.
                        </div>
                        <div class="blogDetail-desc__content">
                            How so? We are constantly bombarded with advertisements across all media platforms from
                            traditional to digital. This leads to the fact in-your-face approaches are rather
                            interruptive and pushy than helpful.
                        </div>
                        <div class="blogDetail-desc__content">
                            Quality content, on the other hand, is what pulls the attention back from the consumers by
                            providing them what they actually need while building a bridge of trust between a brand and
                            its consumer, and in turn, generate profits.
                        </div>
                        <div class="blogDetail-desc__content">
                            Let's have a closer look and see if I can help you change your mind about your content
                            marketing.
                        </div>
                        <div class="blogDetail-desc__content">
                            <span class="fw-bold">
                                So, what is Content Marketing?
                            </span>
                        </div>
                        <div class="blogDetail-desc__content">
                            Content marketing is a marketing strategy that focuses on creating relevant, valuable, and
                            useful storytelling that resonates with a target audience in order to solve an existing
                            problem and ultimately generate leads and profitable actions.
                        </div>
                        <div class="blogDetail-desc__content">
                            What is content exactly? Well, content is everything your target audience can experience and
                            interact with across all mediums – this includes content on your website, blog posts,
                            e-mails, social media activities, podcasts, infographics, and so on.

                        </div>
                        <div class="blogDetail-desc__content">
                            Now, what does "relevant and valuable content" even mean? If your content is relevant, it
                            answers the question that your audience is searching for; and valuable content helps them
                            solve a problem or release a burden on their shoulders. In fact, 6 out of 10 consumers would
                            likely make a purchase if they found the content of that product/service useful and
                            relevant, according to
                            <span class="yellow">
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://www.demandmetric.com/content/content-marketing-infographic">
                                    Demand Metric
                                </a>
                            </span>.
                        </div>
                        <div class="blogDetail-desc__content">
                            <span class="fw-bold">
                                But who cares about Content nowadays when visuals are everything, right? Not really.
                            </span>
                        </div>
                        <div class="blogDetail-desc__content">
                            A consumer would perceive your new brand as how they would with someone they've just met for
                            the first time. The attractive outlook and the overall energy—whether youthful,
                            sophisticated, or mysterious—that they exude would leave a strong first impression. Brands
                            tend to try the same approach with the goal to attract prospects with strong brand elements
                            like logos, color schemes, and a smooth website interface, but would that be enough to
                            retain consumers' attention for your brand? I mean, there's a high chance that your
                            competitors are also putting out the same efforts. So, to set yourself apart from
                            competitors, you need to create values, provide solutions to their life problems, ease their
                            pain (either literally or figuratively) – you need QUALITY CONTENT.
                        </div>
                        <div class="blogDetail-desc__content">
                            But don’t take my words for it, think of the last time you purchased a product or chose a
                            service from a new company and what the deciding factor was that led to the ultimate
                            decision. No matter the product/service, your experience somewhat went like this:
                        </div>
                        <div class="blogDetail-desc__content fw-bold">
                            And if you don't believe me, believe the statistics.
                        </div>

                        <blockquote>
                            <ul>
                                <li class="li_number">Search on a search engine and found multiple products</li>
                                <li class="li_number">Filter the products by scanning for key information </li>
                                <li class="li_number">Shortlist the most relevant ones
                                </li>
                                <li class="li_number">Research each product in more detail
                                </li>
                                <li class="li_number">Decide on the best match and make the purchase.</li>
                            </ul>
                        </blockquote>

                        <div class="blogDetail-desc__content">
                            We perform step 1, 2, and 3 on a daily basis sometimes without being aware of it. From
                            searching for "best craft beer near me" to "compressing PDF online", we are constantly
                            finding new products and services either casually or when we're intensely hunting for
                            something to solve a problem that we've encountered. The latter is when step 4 and 5 come to
                            play.
                        </div>
                        <div class="blogDetail-desc__content">
                            Let's say you are a prestigious international in Ho Chi Minh and one of your prospects is on
                            her hunt for your service; the problem is that your competitors are also on her radar. After
                            discovering a handful of candidates through search, she'd start narrowing down by
                            highlighting the key information like location, school size, and tuition fee, then dive into
                            the deeds of her top 3 schools by going through their web pages and reading for more
                            information–that's step 4.
                        </div>
                        <div class="blogDetail-desc__content">
                            Now, why should your prospect choose your institution over your competitors, when all seem
                            to provide more or less the same services? In other words, what would be the tie-breaker
                            factor that sets you apart? You can guess it by now – quality content. The more questions
                            are answered, the more problems are solved, the more burdens are shouldered, the more your
                            potential customer would trust your school's credibility and likely to click that contact
                            button. Any company can say their product/service is the best, but only a handful can create
                            trust in their customers and that is why quality content plays a crucial role in
                            establishing that value.
                        </div>
                        <div class="blogDetail-desc__content fw-bold">
                            What are the exact benefits of content marketing, so to speak?
                        </div>

                        <ol class="blogDetail-desc__content">
                            <li class="li_number">
                                <span class="fw-bold">
                                    It pulls your audience, rather than pushes.
                                </span>
                            </li>
                        </ol>

                        <div class="blogDetail-desc__content">
                            In a world full of ad blockers and information overload, quality content–or content that
                            matters to people–is what pulls your consumers to your bra
                        </div>
                        <div class="blogDetail-desc__content">
                            A staggering <span class="yellow">
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://www.redcrowmarketing.com/2015/09/10/many-ads-see-one-day/">
                                    4,000 to 10,000
                                </a>
                            </span> ads are exposed daily which lead to 527M people using ad
                            blockers on mobile and 236M on desktop, according to the 2020 PageFair Adblock Report.
                        </div>
                        <div class="blogDetail-desc__content ">Digital ads are the billboards of the internet which,
                            similarly to traditional media, is an in-your-face approach that people no longer care
                            about–who would want the cat videos on Youtube to be interrupted anyway?
                        </div>
                        <div class="blogDetail-desc__content">
                            Creating content that is valuable and meaningful to your audience, or relieves a burden on
                            their shoulders wins over any ad budgets and aggressive call to actions.
                        </div>

                        <ol class="blogDetail-desc__content">
                            <li class="li_number">
                                <span class="fw-bold">
                                    It drives conversion while saving costs.

                                </span>
                            </li>
                        </ol>

                        <div class="blogDetail-desc__content">
                            Hear me out: "Budget-friendly, yet effective marketing". It sounds unreal, I know, but <span
                                class="yellow">
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://www.demandmetric.com/content/content-marketing-infographic">
                                    in
                                    fact
                                </a>
                            </span>, content marketing costs 62% less than traditional marketing while generates 3 times
                            more leads.
                        </div>
                        <div class="blogDetail-desc__content">
                            Every year, companies spend billions of dollars on advertising to essentially tell consumers
                            how great their product or service is. Content, on the other hand, is a powerful way to show
                            them your brand's value without being pushy and intrusive.
                        </div>

                        <ol class="blogDetail-desc__content">
                            <li class="li_number">
                                <span class="fw-bold">
                                    Engage, engage, engage!
                                </span>
                            </li>
                        </ol>

                        <div class="blogDetail-desc__content">
                            Content, whether it's a blog post, infographic, or how-to video, creates engagement with
                            your audience before a purchase decision is made. When your potential consumers are actively
                            engaged through relevant content, it builds a meaningful relationship between your brand and
                            the audience which essentially leads them to buying your product or using your service.
                        </div>
                        <ol class="blogDetail-desc__content">
                            <li class="li_number">
                                <span class="fw-bold">
                                    It positions you as an expert in your industry and builds trust in your audience.
                                </span>
                            </li>
                        </ol>

                        <div class="blogDetail-desc__content">
                            This is one of, if not the most important reason why content marketing matters. The more
                            quality content created, the more your audience will rely on your business as a trusted
                            source of information, which essentially drives more credibility and loyalty.
                        </div>
                        <div class="blogDetail-desc__content">
                            Your audience would like to get to know your business before deciding on a purchase. The
                            content on your website or social media allows your audience to form an opinion about your
                            company and whether or not your brand resonates with them
                        </div>
                        <div class="blogDetail-desc__content">
                            As a small or newly-established business, having a decent amount of valuable content would
                            give you a boost in brand reputation and an advantage over your competitors. In fact, an
                            <span class="yellow">
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://www.impactplus.com/blogging-statistics-55-reasons-blogging-creates-55-more-traffic">
                                    Impact
                                </a>
                            </span> report shows that small businesses that blog generates 126% more lead compared to
                            those that don't.
                        </div>
                        <div class="blogDetail-desc__content fw-bold">
                            Let's sum up.
                        </div>
                        <div class="blogDetail-desc__content">
                            Content is the present – and future – of marketing, according to
                            <span class="yellow">
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://contentmarketinginstitute.com/what-is-content-marketing/">
                                    Content Marketing Institute
                                </a>
                            </span>,
                        </div>

                        <blockquote>
                            <ul>
                                <li class="li">Relevant and valuable content is the key to a successful digital
                                    marketing campaign. While there's a general belief that content is overshadowed by
                                    designs and visuals, it's continuously proven otherwise.
                                </li>
                                <li class="li">Content marketing paves the way for brands to speak their values and
                                    position themselves as an expert in their field.
                                </li>
                                <li class="li">By engaging with the audience with quality content and solving their
                                    problem, content marketing pulls the audience closer to the brand and builds
                                    meaningful relationships with them.
                                </li>
                                <li class="li">Content marketing is cost-effectiveness to which traditional marketing
                                    could never come close.
                                </li>
                            </ul>
                        </blockquote>
                    </div>


                </div>
            </section>
            <!-- <section class="insights more last-section">
                <div class="container">
                    <div class="insights-title">
                        More
                    </div>
                    <div class="insights-list more-list">
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingOne.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingFive.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingSix.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <footer class="footer">
                <div class="container footer-container">
                    <div class="footer-wrap">
                        <div class="footer-outter">
                            <div class="footer-heading">
                                <a href="/blog/top-3-million-dollar-questions-to-expect-from-investors.html"
                                    class="footer-heading__text">
                                    <span>Top 3 Million Dollar Question</span> <br>
                                </a>
                                <a href="/blog/top-3-million-dollar-questions-to-expect-from-investors.html"
                                    class="hide-cursor hide-on-mobile" id="circle-footer">
                                    <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer" />

                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer__clone" />
                                    </svg>
                                </a>
                            </div>
                            <div class="footer-bottom">
                                <div class="footer-body">
                                    <div class="footer-contact order-2">
                                        <a href="mailto:info@align.vn" class="footer-gmail">
                                            info@align.vn
                                        </a>
                                        <div class="footer-address">
                                            <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                                rel="noopener noreferrer">
                                                <span>
                                                    256/10 Pham Van Hai, Ward 5,
                                                </span>
                                                <br>
                                                <span>Tan Binh District, HCM City</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="/Start-a-project.html" class="footer-button">
                                        <div class="project-button">
                                            <div class="button">
                                                <div class="button__filler"></div>
                                                <span class="button__text">
                                                    <span class="button__text-inner">Start a project</span>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="footer-times order-3">
                                        <div class="footer-usa">
                                            <div id="time-sf"></div>
                                            <div>PST,SF</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-texas"></div>
                                            <div>CST,TX</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-atlanta"></div>
                                            <div>EST,ATL</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-vietnam"></div>
                                            <div>HCMC,VN</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-end">
                                    <div class="footer-private">
                                        <div class="footer-policy ">
                                            <a class="hover" href="#">Privacy Policy</a>
                                        </div>
                                        <div class="footer-copyrights">
                                            <a class="hover" href="#">© Align 2022</a>
                                        </div>
                                    </div>
                                    <div class="footer-sub hover">
                                        Subscribe to our Newsletter
                                    </div>
                                    <div class="footer-social">
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.facebook.com/alignlab">Facebook</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.instagram.com/align.vn/">Instagram</a>
                                    </div>
                                </div>
                            </div>
                            <div id="mc_embed_signup">
                                <form
                                    action="https://align.us14.list-manage.com/subscribe/post?u=5c43dcc9081fb93efbefd4d66&amp;id=f3ae99ddbd"
                                    method="post" id="mc-embedded-subscribe-form" class="validate" target="_blank"
                                    novalidate>
                                    <div class="footer-form" id="mc_embed_signup_form">
                                        <input type="email" placeholder="Add your email address" name="EMAIL"
                                            id="mce-EMAIL" class="input-email">
                                        <div id="mce-responses" class="input-erorr">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none">

                                            </div>
                                        </div>
                                        <button type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="circle-footer hide-cursor">
                                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer" />
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer__clone" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57482225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-57482225-1');
    </script>
    <!-- Pixel Code for https://analysis.alignlab.com/ -->
    <script async src="https://analysis.alignlab.com/pixel/UcKTADruVngdbcVP"></script>
    <!-- Mailchimp -->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);
    </script>
    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>
    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
</body>

</html>