<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How good design is helping businesses in Vietnam grow - Align</title>
    <meta name="dc.title" content="How good design is helping businesses in Vietnam grow - Align" />
    <meta name="dc.description"
        content="Shopee one of the fastest growing ecommerce in Southeast Asia. How did they reach the market in Vietnam. Find out more in this post. A creative design agency aligning innovation, creativity, and purpose How good design is helping businesses in Vietnam grow" />
    <meta name="dc.relation" content="https://align.vn/blog/how-good-design-is-helping-businesses-in-vietnam-grow/" />
    <meta name="dc.source" content="https://align.vn/" />
    <meta name="dc.language" content="en_US" />
    <meta name="description"
        content="Shopee one of the fastest growing ecommerce in Southeast Asia. How did they reach the market in Vietnam. Find out more in this post. A creative design agency aligning innovation, creativity, and purpose How good design is helping businesses in Vietnam grow" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://align.vn/blog/how-good-design-is-helping-businesses-in-vietnam-grow/" />
    <meta property="og:url" content="https://align.vn/blog/how-good-design-is-helping-businesses-in-vietnam-grow/" />
    <meta property="og:site_name" content="Align" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/alignlab" />
    <meta property="article:publisher" content="https://www.facebook.com/alignlab" />
    <meta property="article:section" content="Case Study" />
    <meta property="og:title" content="How good design is helping businesses in Vietnam grow - Align" />
    <meta property="og:description"
        content="Shopee one of the fastest growing ecommerce in Southeast Asia. How did they reach the market in Vietnam. Find out more in this post. A creative design agency aligning innovation, creativity, and purpose How good design is helping businesses in Vietnam grow" />
    <meta property="og:image" content="/Images/BlogBannerOne.png" />
    <meta property="og:image:secure_url" content="/Images/BlogBannerOne.png" />
    <meta property="og:image:width" content="2000" />
    <meta property="og:image:height" content="1333" />
    <meta property="og:image:alt" content="Shopee Design Align.vn" />
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/App/Scss/style.css">
    <!-- Link Locomotive CSS -->
    <link rel="stylesheet" href="/App/Css/locomotive.css">
    <!-- Link Splitting CSS -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="/Images/ShortCut.png" />
</head>

<body>
    <div id="loading">
    </div>
    <div class="cursor-follow">
        <span class="cursor-view">
            View
        </span>
    </div>
    <div id="process-bar">
    </div>
    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">
                    <div class="close-absolute">
                        <div class="menu-black__close hide-cursor">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Start-a-project.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" class="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    class="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Start-a-project.html">Start a project</a>
                        <a href="tel:0902826031">(+84)902 826 031</a>
                        <a href="mailto:info@align.vn">info@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <!-- <a href="/career.html" onclick="return false;" class="hover">Career</a> -->
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper smooth-scroll" data-scroll-container>
        <div class="mt">
            <section class="blogDetail last-section">
                <div class="container">
                    <div class="insightsPage-heading blogDetail-heading">
                        How good design is helping businesses in Vietnam grow
                    </div>
                    <div class="button-type">
                        <div>Case Study</div>
                        <div>UI/UX</div>
                    </div>

                    <div class="wrap-parallax blogDetail-parallax">
                        <img src="/Images/ShopeeBanner.webp" alt="" class="image-parallax">
                    </div>

                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            How business in Vietnam are moving towards good design to gain user growth and profit.
                        </div>
                        <div class="blogDetail-desc__content">
                            Design is the art of the making the complex clear, the disordered <span
                                class="fw-bold">ordered</span> and the unusable
                            <span class="fw-bold">usable</span>.
                        </div>
                        <div class="blogDetail-desc__content">
                            As Thomas John Watson, Jr., the former CEO of <span class="yellow fw-bold"><a
                                    href="https://www.ibm.com/vn-en" target="_blank"
                                    rel="noopener noreferrer">IBM</a></span>, once stated that
                        </div>
                        <div class="blogDetail-desc__content fw-bold">
                            “Good design is good business”.
                            Yep. Design thinking has its own place.
                        </div>
                        <div class="blogDetail-desc__content">
                            A great design that has the “wow” factor makes products more desirable and appealing to
                            users. In recent years, <span class="fw-bold italic">“design thinking”</span> has become
                            popular in
                            various industries as
                            established companies are leaning on and investing in optimized design strategies to support
                            their next phase of growth when noticing that design is an influential conversion tool
                            turning strategies into tangible business results.
                        </div>
                        <div class="blogDetail-desc__content">
                            According to <span class="yellow fw-bold"><a
                                    href="https://www.adobe.com/content/dam/acom/en/max/pdfs/AdobeStateofCreate_2016_Report_Final.pdf"
                                    target="_blank" rel="noopener noreferrer">
                                    Adobe's State of Create 2016 report
                                </a></span>, 59% client will decide to do business with
                            a company over its competitors based on <span class="yello fw-bold italic">good
                                design</span>, and
                            45% have even paid more for a
                            product or service with <span class="yellow italic fw-bold">good design</span>. Over the
                            past 10 year, design-led companies such as
                            <span class="yellow fw-bold"><a href="https://www.apple.com/" target="_blank"
                                    rel="noopener noreferrer">Apple</a></span>,
                            <span class="yellow fw-bold"><a href="https://www.coca-cola.com/home" target="_blank"
                                    rel="noopener noreferrer">Coca-cola</a></span>,
                            <span class="yellow fw-bold"><a href="https://www.ibm.com/vn-en" target="_blank"
                                    rel="noopener noreferrer">IBM</a></span>,
                            <span class="yellow fw-bold"><a href="https://www.nike.com/vn/" target="_blank"
                                    rel="noopener noreferrer">Nike</a></span>,and <span class="yellow fw-bold"><a
                                    href="" target="_blank" rel="noopener noreferrer">Apple</a></span> have outperformed
                            the S&P
                            500 by an extraordinary 219%.
                            Many companies and start-ups in Vietnam have also followed that trend and experienced
                            initial successes.
                        </div>
                        <div class="blogDetail-desc__content">
                            First off, considering design and design thinking as an integral part of business success
                            expects more than just curating creative assets. Successful design starts with an overall
                            strategy that conveys messaging and usability to customers. This integration of all
                            company's aspects makes a <span class="yello fw-bold italic">good
                                design</span> an investment delivering sustainable values.
                        </div>
                    </div>

                    <div class="blogDetail-flex">
                        <div class="wrap-parallax blogDetail-parallax">
                            <img src="/Images/HowGoodDesignOne.png" alt="" class="image-parallax">
                        </div>
                        <div class="wrap-parallax blogDetail-parallax">
                            <img src="/Images/HowGoodDesignTwo.png" alt="" class="image-parallax">
                        </div>
                    </div>

                    <div class="blogDetail-desc mr-auto">
                        <div class="blogDetail-desc__content">
                            Basically, <span class="italic fw-bold">design thinking</span> is understanding users’ needs
                            and thinking creatively to solve
                            their problems through products, services, and business design. It is the combination of
                            techniques, such as Lean UX, customer journey mapping, and prototyping directly into the way
                            the organization does business every day. It’s using the basic, proven tools of design to
                            the maximum effect. A primary element of <span class="italic fw-bold">design thinking</span>
                            is simply thinking and ideating on
                            a solution to resolve a problem or to better fulfill a customer need. It’s a mindset focused
                            on solutions and not the problem. <span class="italic fw-bold">Design thinking</span> offers
                            a structured framework for
                            understanding and pursuing innovation in ways that contribute to organic growth and add real
                            value to your customers. Put it simply, it is all about <span class="fw-bold ">putting
                                yourself in users’ shoes</span>.
                        </div>
                        <div class="blogDetail-desc__content">
                            From content to visual design, the strength of audience engagement is directly related to
                            the strength of <span class="fw-bold">good design</span>, as these efforts work to define a
                            credible, trustworthy brand
                            through <span class="fw-bold">consistency</span> , <span
                                class="fw-bold">predictability</span> and <span class="fw-bold">
                                visibility
                            </span>.
                            User-centered design begins with
                            developing an understanding of customers’ or users’ unmet or unarticulated needs. The
                            purpose of user-centered design is where you start from the people who are in need of a
                            solution, and end when you come up with the suitable one. Design thinkers rely on customer
                            insights gained from real-world experiments, not just historical data or market research. It
                            is an empathetic style of design.
                        </div>
                        <div class="blogDetail-desc__content fw-bold">
                            And if you don't believe me, believe the statistics.
                        </div>
                    </div>
                    <div class="blogDetail-flex">
                        <div class="wrap-parallax blogDetail-parallax">
                            <img src="/Images/HowGoodDesignThree.png" alt="" class="image-parallax">
                        </div>
                        <div class="wrap-parallax blogDetail-parallax">
                            <img src="/Images/HowGoodDesignFour.png" alt="" class="image-parallax">
                        </div>
                    </div>

                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            Take <span class="yellow fw-bold"><a target="_blank" rel="noopener noreferrer"
                                    href="https://shopee.vn/">Shopee's</a></span> success as an example.
                            After only a year of launching in Vietnam, the company
                            has risen to <span class="yellow fw-bold"><a target="_blank" rel="noopener noreferrer"
                                    href="https://www.brandsvietnam.com/12747-Tan-binh-Shopee-co-du-suc-khuay-dong-san-choi-thuong-mai-dien-tu">become
                                    top 3 e-commerce</a></span>
                            company with the highest average number of orders. Up
                            to now, Shopee has reached 5 million app downloads, and increased number of products by 133%
                            (4 million products). Shopee's current gross merchandise volume (GMV) has crossed the $3
                            billion mark and expected the double-digit growth in Vietnam the following year.
                        </div>
                        <div class="blogDetail-desc__content">
                            Part of their success is due to their devotion to user-centered design that ensures the
                            needs of the users are at the core of their design process. They believe in creating the
                            best possible experience for users and devote real efforts to design a product for millions
                            of users.
                        </div>
                        <div class="blogDetail-desc__content">
                            In January 2018, the Design and Customer Experience (CX) teams brought together Designers,
                            CX-ers, Marketers, Developers, Product Managers from Singapore and Taiwan at Shopee HQ to do
                            fill the gap between product functionality and users’ experiences and cultures. The process
                            helps spur innovation, encourage user-centric thinking, andalign teams under a shared vision
                            to launch products faster. Participants from different functions (e.g. marketing, design)
                            were grouped and introduced to each other before embarking on the day’s activities: to
                            understand user behaviours, to re-frame pain points into opportunities, to establish design
                            guidelines based on user needs and to translate ideas into physical mockups. The individual
                            teams then shared their findings of user segments with the wider group. This stimulated
                            common understanding of Shopee’s wide range of users between different stakeholders.
                            Accordingly, they focused on framing a design that met diverse user groups’ needs.
                        </div>
                    </div>

                    <div class="wrap-parallax blogDetail-parallax">
                        <img src="/Images/HowGoodDesignFive.png" alt="" class="image-parallax">
                    </div>

                    <div class="blogDetail-desc mr-auto">
                        <div class="blogDetail-desc__content">
                            The process of understanding users designing experiences building products might be complex
                            and challenging, but good collaboration between cross functional teams is essential for a
                            useful high-quality product. <span class="italic fw-bold">Design thinking</span> is a
                            tremendous approach for producing viable
                            ideas for innovative development. When companies become design literate, they will employ
                            <span class="italic fw-bold">design thinking</span> to address problems such as improving
                            team dynamics or coming up with a
                            product line extension.
                        </div>
                        <div class="blogDetail-desc__content">
                            The Shopee case proves that only after organisations being exposed to benefits of design
                            they can understand its value and reinvest in it. <span class="italic fw-bold">Design
                                thinking</span> should be at the core of
                            strategy development and organizational change in order to create a culture that's focused
                            on this way of solving problems. This way of thinking can be applied to products, services,
                            and processes; anything that needs to be improved. To be successful, a <span
                                class="italic fw-bold">design thinking</span>
                            program must be closely linked with the organization's social dynamics. Design begins with
                            setting a strategic intention.
                        </div>
                        <div class="blogDetail-desc__content">
                            If you are mapping out <span class="fw-bold">a strategy</span>, you <span
                                class="fw-bold">are designing.</span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="insights more last-section">
                <div class="container">
                    <div class="insights-title">
                        More
                    </div>
                    <div class="insights-list more-list">
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingOne.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingFive.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingSix.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <footer class="footer">
                <div class="container footer-container">
                    <div class="footer-wrap">
                        <div class="footer-outter">
                            <div class="footer-heading">
                                <a href="/blog/what-is-branding-the-important-basics.html" class="footer-heading__text">
                                    <span>What is Branding ? </span> <br>
                                </a>
                                <a href="/blog/what-is-branding-the-important-basics.html"
                                    class="hide-cursor hide-on-mobile" id="circle-footer">
                                    <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer" />

                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer__clone" />
                                    </svg>
                                </a>
                            </div>
                            <div class="footer-bottom">
                                <div class="footer-body">
                                    <div class="footer-contact order-2">
                                        <a href="mailto:info@align.vn" class="footer-gmail">
                                            info@align.vn
                                        </a>
                                        <div class="footer-address">
                                            <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                                rel="noopener noreferrer">
                                                <span>
                                                    256/10 Pham Van Hai, Ward 5,
                                                </span>
                                                <br>
                                                <span>Tan Binh District, HCM City</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="/Start-a-project.html" class="footer-button">
                                        <div class="project-button">
                                            <div class="button">
                                                <div class="button__filler"></div>
                                                <span class="button__text">
                                                    <span class="button__text-inner">Start a project</span>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="footer-times order-3">
                                        <div class="footer-usa">
                                            <div id="time-sf"></div>
                                            <div>PST,SF</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-texas"></div>
                                            <div>CST,TX</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-atlanta"></div>
                                            <div>EST,ATL</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-vietnam"></div>
                                            <div>HCMC,VN</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-end">
                                    <div class="footer-private">
                                        <div class="footer-policy ">
                                            <a class="hover" href="#">Privacy Policy</a>
                                        </div>
                                        <div class="footer-copyrights">
                                            <a class="hover" href="#">© Align 2022</a>
                                        </div>
                                    </div>
                                    <div class="footer-sub hover">
                                        Subscribe to our Newsletter
                                    </div>
                                    <div class="footer-social">
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.facebook.com/alignlab">Facebook</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.instagram.com/align.vn/">Instagram</a>
                                    </div>
                                </div>
                            </div>
                            <div id="mc_embed_signup">
                                <form
                                    action="https://align.us14.list-manage.com/subscribe/post?u=5c43dcc9081fb93efbefd4d66&amp;id=f3ae99ddbd"
                                    method="post" id="mc-embedded-subscribe-form" class="validate" target="_blank"
                                    novalidate>
                                    <div class="footer-form" id="mc_embed_signup_form">
                                        <input type="email" placeholder="Add your email address" name="EMAIL"
                                            id="mce-EMAIL" class="input-email">
                                        <div id="mce-responses" class="input-erorr">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none">

                                            </div>
                                        </div>
                                        <button type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="circle-footer hide-cursor">
                                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer" />
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer__clone" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57482225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-57482225-1');
    </script>
    <!-- Pixel Code for https://analysis.alignlab.com/ -->
    <script async src="https://analysis.alignlab.com/pixel/UcKTADruVngdbcVP"></script>
    <!-- Mailchimp -->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);
    </script>
    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>
    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
</body>

</html>