<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The-importance-of-intelligent-website-design-for-business - Align</title>
    <meta name="dc.title" content="The Importance Of Intelligent Website Design For Business - Align" />
    <meta name="dc.description"
        content="Creativity does not always equal positive results. Your website is a tool, use it correctly it can produce some truly beautiful results. Learn what you need to do in to achieve this in this post. A creative design agency aligning innovation, creativity, and purpose The Importance Of Intelligent Website Design For Business" />
    <meta name="dc.relation"
        content="https://align.vn/blog/the-importance-of-intelligent-website-design-for-business/" />
    <meta name="dc.source" content="https://align.vn/" />
    <meta name="dc.language" content="en_US" />
    <meta name="description"
        content="Creativity does not always equal positive results. Your website is a tool, use it correctly it can produce some truly beautiful results. Learn what you need to do in to achieve this in this post. A creative design agency aligning innovation, creativity, and purpose The Importance Of Intelligent Website Design For Business" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://align.vn/blog/the-importance-of-intelligent-website-design-for-business/" />
    <meta property="og:url"
        content="https://align.vn/blog/the-importance-of-intelligent-website-design-for-business/" />
    <meta property="og:site_name" content="Align" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/alignlab" />
    <meta property="article:publisher" content="https://www.facebook.com/alignlab" />
    <meta property="article:section" content="UI/UX" />
    <meta property="og:title" content="The Importance Of Intelligent Website Design For Business - Align" />
    <meta property="og:description"
        content="Creativity does not always equal positive results. Your website is a tool, use it correctly it can produce some truly beautiful results. Learn what you need to do in to achieve this in this post. A creative design agency aligning innovation, creativity, and purpose The Importance Of Intelligent Website Design For Business" />
    <meta property="og:image" content="/Images/BlogBannerThree.png" />
    <meta property="og:image:secure_url" content="/Images/BlogBannerThree.png" />
    <meta property="og:image:width" content="1600" />
    <meta property="og:image:height" content="1206" />
    <meta property="og:image:alt" content="The Important of good UX design Align.vn" />
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/App/Scss/style.css">
    <!-- Link Locomotive CSS -->
    <link rel="stylesheet" href="/App/Css/locomotive.css">
    <!-- Link Splitting CSS -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="/Images/ShortCut.png" />
</head>

<body>
    <div id="loading">
    </div>
    <div class="cursor-follow">
        <span class="cursor-view">
            View
        </span>
    </div>
    <div id="process-bar">
    </div>
    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">
                    <div class="close-absolute">
                        <div class="menu-black__close hide-cursor">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Start-a-project.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" class="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    class="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Start-a-project.html">Start a project</a>
                        <a href="tel:0902826031">(+84)902 826 031</a>
                        <a href="mailto:info@align.vn">info@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <!-- <a href="/career.html" onclick="return false;" class="hover">Career</a> -->
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper smooth-scroll" data-scroll-container>
        <div class="mt">
            <section class="blogDetail last-section">
                <div class="container">
                    <h1 class="insightsPage-heading blogDetail-heading">
                        The Importance Of Intelligent Website Design For Business
                    </h1>
                    <div class="button-type">
                        <div>Web Process</div>
                        <div>UI/UX</div>
                    </div>

                    <h2 class="blogDetail-h2">
                        Creativity does not always equal positive results. Your website is a tool, use it correctly it
                        can produce some truly beautiful results. Learn what you need to do in to achieve this in this
                        post.
                    </h2>

                    <div class="wrap-parallax blogDetail-parallax">
                        <img src="/Images/TheImportance.webp" alt="" class="image-parallax">
                    </div>

                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            Many business owners understand the importance of having a website. However, many often
                            overlook the importance of website design and strategy
                        </div>
                    </div>

                    <div class="wrap-parallax blogDetail-parallax">
                        <img src="/Images/HowGoodDesignOne.png" alt="" class="image-parallax">
                    </div>

                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            Creativity does not always equal positive results. You can build the website of your dreams,
                            however, it may not be the right website for your customers. It’s important to remember that
                            your website is a very powerful tool in the business toolbox. Use this tool incorrectly, it
                            can cause a lot of destruction. Use this tool correctly, it can produce some truly beautiful
                            results. The key to having a successful website is using intelligent design strategies that
                            fit your brand and lead your visitors through the site in a purposeful way, all while
                            pleasing the search engine gods
                        </div>
                        <div class="blogDetail-desc__content">
                            In this post I will discuss the importance of intelligent website design, and how it affects
                            a business’s bottom line (or any other KPI). More specifically, I'll briefly explain and
                            give a few examples of User Experience (UX) design, User Interface (UI) design, and Search
                            Engine Optimized (SEO) design, and their importance for a successful business website.
                        </div>
                        <div class="blogDetail-desc__content fw-bold">
                            How a bad website design can lose you customers and sales (UX/UI)
                        </div>
                    </div>

                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            A good website is more than a place to show and educate consumers about the business and its
                            products. A good website is structured in such a way that it leads visitors through the
                            website with a goal in mind. In the design world, we call this design structure, “user
                            flow”. User Flow is the path the visitor takes while navigating the webpage. Not only does
                            the user flow need to be simple and intuitive for the visitors, but it should have a
                            strategy built in for the business’s goals.
                        </div>
                    </div>

                    <div class="wrap-parallax blogDetail-parallax">
                        <img src="/Images/TheImportanceOne.webp" alt="" class="image-parallax">
                    </div>

                    <div class="blogDetail-desc mr-auto">
                        <div class="blogDetail-desc__content">
                            Here’s a real world example: Say a clothing store wants to clear inventory on last summer's
                            products to make room for their new winter line. At the store they will likely position the
                            summer clothing in high foot traffic areas, and label the clothing with bright red “ON SALE”
                            tags. By moving the summer line closer to the customers and labeling them to stand out the
                            store will likely turn through this inventory quickly. Though the discount definitely helps,
                            the store would have a difficult time turning through the inventory if the clothes were
                            tucked back in the corner.
                        </div>
                        <div class="blogDetail-desc__content">
                            In the above scenario moving the clothing is a basic example of real life <span
                                class="fw-bold">User Experience Design (UX)</span>
                            hese same ideas and concepts should be applied to website design. A website
                            without a user flow strategy is like running a race without knowing which direction the
                            finish line is. For this reason, here at Align we always start by working with clients to
                            define the goal and strategy of the website, then design to achieve this goal.
                        </div>
                        <div class="blogDetail-desc__content">
                            Another important piece of User Flow is <span class="fw-bold">User Interface Design
                                (UI)</span>. UI design is the visual
                            experience of the website for the user (this would be the red tags in the above example).
                            For many purposes user flow can be fairly straight forward, however, UI is often tricky.
                            Simple mistakes like wrong placement of a button, or wrong font sizes can disrupt user flow
                            and lead to drastic impacts on key performance indicators.
                        </div>
                        <div class="blogDetail-desc__content">
                            For example, a popular icon design website <span class="yellow fw-bold">
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://blog.icons8.com/articles/how-we-lost-47-of-our-users-after-a-redesign/">
                                    Icon8
                                    saw
                                    a ~50% drop</a>
                            </span> in usage of their key
                            feature because of a redesign of the feature’s interface. Their website traffic remained the
                            same, but their KPI plummeted by changing 1 page of their website! Although the designers
                            thought the new IU design was better, users found it confusing and began bouncing out of the
                            site. Luckily they quickly made changes and corrected this problem.
                        </div>
                        <div class="blogDetail-desc__content">
                            After spending hours and hours on a project, a design might make sense to the creator but
                            not the user. For this reason, we prototype test many of our web and app designs to get a
                            better understanding of how the user will flow and navigate through the design. This permits
                            us to make appropriate changes before the expensive development stage, and more importantly,
                            before losing new and old customers.
                        </div>
                        <div class="blogDetail-desc__content">
                            UX/UI Bonus: <span class="yellow fw-bold"><a target="_blank" rel="noopener noreferrer"
                                    href="https://userinyerface.com/game.html">
                                    Here’s a fun example of horrible UX/UI design
                                </a></span> that shows how important intelligent
                            design is.
                        </div>
                        <div class="blogDetail-desc__content fw-bold">
                            How website design affects your ability to reach customers through SEO
                        </div>
                        <div class="blogDetail-desc__content">
                            Before diving into this topic lets review how Google search results work. Like any
                            successful business, Google wants to keep their customers happy and generate the greatest
                            bottom line possible. Their goal is to keep searchers loyal to their search engine, so they
                            can maximize ad revenue. Google does this by providing the “best” results possible to
                            searchers. So when designing and creating content for a website, always consider what’s
                            “best” for your visitors.
                        </div>
                        <div class="blogDetail-desc__content">
                            Understanding what Google defines as “best” for your visitors is a bit tricky, and sometimes
                            unclear. However, through trial and error, and a few statements from Google employees, SEO
                            specialists have been able to identify the following design factors as important for ranking
                            on Google.
                        </div>
                        <blockquote>
                            <ul>
                                <li class="fw-bold li">Page Speeds - How fast it takes the page to load</li>
                                <li class="fw-bold li">Responsive design - Mobile and desktop friendly websites</li>
                                <li class="fw-bold li">Page and website structure - Making the page easy to read by
                                    Google
                                </li>
                            </ul>
                        </blockquote>
                        <div class="blogDetail-desc__content fw-bold">
                            Page Speed
                        </div>
                        <div class="blogDetail-desc__content">
                            t’s unclear whether Google directly factors page speed into their search rank results.
                            However, page load speeds directly affect a page’s bounce rate, which is a clear ranking
                            factor in the Google algorithm. Bounce rate is a measurement of a page's ability to keep
                            visitors engaged on the page. Google favors pages with a low bounce rate.
                        </div>
                        <div class="blogDetail-desc__content">
                            The reality is that us humans are impatient, and we like our information immediately.
                            Studies show that if a page takes too long to load, we will close it down and find a new
                            source of information - your competition. A study by <span class="yellow fw-bold"><a
                                    href="https://royal.pingdom.com/page-load-time-really-affect-bounce-rate/"
                                    target="_blank" rel="noopener noreferrer">
                                    Royal.Pingdom.com
                                </a></span> found that visitors
                            are 30% more likely “bounce out” of the page that takes 5 seconds to load, over a page that
                            takes 2 seconds.
                        </div>
                        <div class="blogDetail-desc__content">
                            That extra 3 seconds of load time led to a drop of 30% in page visitors. They also found
                            that at 8 seconds, 60% of potential visitors give up and bounce out. As you could imagine,
                            google doesn’t like this. Though, not only does slow page speed damage your ability to rank
                            high on google via bounce rate, it also leads to a huge loss in potential sales.
                        </div>
                        <div class="blogDetail-desc__content">
                            If you are building your own website, plug your page url into tools such as <span
                                class="yellow"><a href="https://gtmetrix.com/" target="_blank"
                                    rel="noopener noreferrer">GTmetrixGTmetrix</a></span>
                            and <span class="yellow fw-bold">
                                <a href="https://pagespeed.web.dev/" arget="_blank" rel="noopener noreferrer">Google
                                    PageSpeed Insights</a>
                            </span> and follow the recommendations. If you have a webmaster and
                            want to test their work, this is also a good method.
                        </div>
                        <div class="blogDetail-desc__content">
                            At Align we shoot for page speeds between 2-3.5 seconds. However, sometimes it’s necessary
                            to push this limit a bit. Some pages are likely to have essential elements or tools that
                            will slow page loading speeds considerably. Tools such as Google’s customizable maps can
                            really kill a page’s load speed (we found it to slow a page down by 8 seconds in some
                            cases). However, maybe it’s essential for your webpage. When building a page, it’s important
                            to consider the trade-offs and make adjustments if needed.
                        </div>
                        <div class="blogDetail-desc__content fw-bold">
                            Website and page structure
                        </div>
                    </div>

                    <div class="wrap-parallax blogDetail-parallax">
                        <img src="/Images/TheImportanceTwo.webp" alt="" class="image-parallax">
                    </div>

                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            In a way, you can think of website and page structure as the road map of the website. The
                            roadways of a website (site map) need to have an intuitive structure, and the traffic
                            signals (links and text) need to be easy to understand. If Google has a hard time
                            understanding your website, it assumes users will have a hard time as well. Therefore,
                            Google is not likely to rank your website.
                        </div>
                        <div class="blogDetail-desc__content">
                            SEO specialist Adam Clarke put’s it best “making it easier for users [to read and navigate
                            your website] makes it easier for Google”. Here are a few tips to make it easier for Search
                            Engine to understand and navigate your website.
                        </div>
                        <div class="blogDetail-desc__content">
                            “Design your site to have a clear conceptual page hierarchy” - <span
                                class="yellow fw-bold"><a href="https://www.google.com/" target="_blank"
                                    rel="noopener noreferrer">Google</a></span>
                        </div>
                    </div>

                    <div class="wrap-parallax blogDetail-parallax">
                        <img src="/Images/TheImportanceThree.webp" alt="" class="image-parallax">
                    </div>


                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            Make sure the structure and flow of your website is intuitive and makes sense. In a very
                            non-direct way, Google’s Senior Webmaster Trends Analyst suggested sticking to the normal
                            pyramidal structure of a website. Meaning, your website should start with a home page, then
                            flow into the main topics, then subtopics and so on. When you layout this structure on a
                            sitemap, it will loosely resemble a pyramid. Additionally, it’s suggested that each page has
                            a few links in text (not only icons or buttons) to other pages within the site.
                        </div>
                        <div class="blogDetail-desc__content">
                            <span class="fw-bold">Main Menu</span> No matter the page, it’s important to make the
                            subject matter
                            and navigation links
                            very clear. It appears that google favors text based menus across the top or side of the
                            page. Avoid using overly creative menus or Icon only menus as your site navigation.
                        </div>
                        <div class="blogDetail-desc__content">
                            <span class="fw-bold">H1 and H2 headings</span> Use headings wisely. Make sure each page has
                            only one H1 heading, and
                            that the heading contains the keywords or terms you are targeting. Also, make sure to
                            contain synonyms or related words to the topic throughout the H2 headings. This helps Google
                            understand what the page is about.
                        </div>
                        <div class="blogDetail-desc__content">
                            When you step back and look at everything discussed in this post you’ll find a common
                            element - the user. When building a website or app you must always think about the visitors
                            and how they will use the page. How will the user navigate the page? How will they react to
                            this button? How will this image communicate with them? How does the website communicate our
                            brand to our visitors?
                        </div>
                        <div class="blogDetail-desc__content">
                            If in doubt when considering onpage SEO, always consider the user. Generally speaking,
                            Google’s algorithm is designed to favor great content and navigation for humans. So if you
                            find yourself in an SEO dilemma, ask yourself “What’s best for my targeted user?
                        </div>
                        <div class="blogDetail-desc__content">
                            This post only brushes the surface of the importance of website design, but as you can see,
                            there is more to a website than making it fit a brand and showcasing products. When building
                            your website, or giving instructions to your webmaster/designer make sure to always consider
                            how your visitors will use and interact with the page. If possible do some user testing. If
                            you have questions, or are interested in having professionals take care of your website
                            design and SEO needs make sure to contact us! We’d love to hear from you.
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="insights more last-section">
                <div class="container">
                    <div class="insights-title">
                        More
                    </div>
                    <div class="insights-list more-list">
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingOne.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingFive.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingSix.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <footer class="footer">
                <div class="container footer-container">
                    <div class="footer-wrap">
                        <div class="footer-outter">
                            <div class="footer-heading">
                                <a href="/blog/content-marketing.html" class="footer-heading__text">
                                    <span>Content Marketing</span> <br>
                                </a>
                                <a href="/blog/content-marketing.html" class="hide-cursor hide-on-mobile"
                                    id="circle-footer">
                                    <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer" />

                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer__clone" />
                                    </svg>
                                </a>
                            </div>
                            <div class="footer-bottom">
                                <div class="footer-body">
                                    <div class="footer-contact order-2">
                                        <a href="mailto:info@align.vn" class="footer-gmail">
                                            info@align.vn
                                        </a>
                                        <div class="footer-address">
                                            <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                                rel="noopener noreferrer">
                                                <span>
                                                    256/10 Pham Van Hai, Ward 5,
                                                </span>
                                                <br>
                                                <span>Tan Binh District, HCM City</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="/Start-a-project.html" class="footer-button">
                                        <div class="project-button">
                                            <div class="button">
                                                <div class="button__filler"></div>
                                                <span class="button__text">
                                                    <span class="button__text-inner">Start a project</span>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="footer-times order-3">
                                        <div class="footer-usa">
                                            <div id="time-sf"></div>
                                            <div>PST,SF</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-texas"></div>
                                            <div>CST,TX</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-atlanta"></div>
                                            <div>EST,ATL</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-vietnam"></div>
                                            <div>HCMC,VN</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-end">
                                    <div class="footer-private">
                                        <div class="footer-policy ">
                                            <a class="hover" href="#">Privacy Policy</a>
                                        </div>
                                        <div class="footer-copyrights">
                                            <a class="hover" href="#">© Align 2022</a>
                                        </div>
                                    </div>
                                    <div class="footer-sub hover">
                                        Subscribe to our Newsletter
                                    </div>
                                    <div class="footer-social">
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.facebook.com/alignlab">Facebook</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.instagram.com/align.vn/">Instagram</a>
                                    </div>
                                </div>
                            </div>
                            <div id="mc_embed_signup">
                                <form
                                    action="https://align.us14.list-manage.com/subscribe/post?u=5c43dcc9081fb93efbefd4d66&amp;id=f3ae99ddbd"
                                    method="post" id="mc-embedded-subscribe-form" class="validate" target="_blank"
                                    novalidate>
                                    <div class="footer-form" id="mc_embed_signup_form">
                                        <input type="email" placeholder="Add your email address" name="EMAIL"
                                            id="mce-EMAIL" class="input-email">
                                        <div id="mce-responses" class="input-erorr">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none">

                                            </div>
                                        </div>
                                        <button type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="circle-footer hide-cursor">
                                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer" />
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer__clone" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57482225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-57482225-1');
    </script>
    <!-- Pixel Code for https://analysis.alignlab.com/ -->
    <script async src="https://analysis.alignlab.com/pixel/UcKTADruVngdbcVP"></script>
    <!-- Mailchimp -->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);
    </script>
    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>
    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
</body>

</html>