<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brading, Branding Basic - Align</title>
    <meta name="dc.title" content="Branding, Basic Branding" />
    <meta name="dc.description"
        content="What is a brand? Most would say it’s the logo, or the look of a company. If only it was that simple. A creative design agency aligning innovation, creativity, and purpose What is Branding? The important basics" />
    <meta name="dc.relation" content="https://align.vn/blog/what-is-branding-the-important-basics/" />
    <meta name="dc.source" content="https://align.vn/" />
    <meta name="dc.language" content="en_US" />
    <meta name="description"
        content="What is a brand? Most would say it’s the logo, or the look of a company. If only it was that simple. A creative design agency aligning innovation, creativity, and purpose What is Branding? The important basics" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://align.vn/blog/what-is-branding-the-important-basics/" />
    <meta property="og:url" content="https://align.vn/blog/what-is-branding-the-important-basics/" />
    <meta property="og:site_name" content="Align" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/alignlab" />
    <meta property="article:publisher" content="https://www.facebook.com/alignlab" />
    <meta property="article:section" content="Branding" />
    <meta property="og:title" content="Branding, Basic Branding" />
    <meta property="og:description"
        content="What is a brand? Most would say it's the logo, or the look of a company. If only it was that simple. A creative design agency aligning innovation, creativity, and purpose What is Branding? The important basics" />
    <meta property="og:image" content="/Images/BlogBannerTwo.png" />
    <meta property="og:image:secure_url" content="/Images/BlogBannerTwo.png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <meta property="og:image:alt" content="What is Branding. PC and Mac Align.vn" />
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/App/Scss/style.css">
    <!-- Link Locomotive CSS -->
    <link rel="stylesheet" href="/App/Css/locomotive.css">
    <!-- Link Splitting CSS -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="/Images/ShortCut.png" />
</head>

<body>
    <div id="loading">
    </div>
    <div class="cursor-follow">
        <span class="cursor-view">
            View
        </span>
    </div>
    <div id="process-bar">
    </div>
    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">
                    <div class="close-absolute">
                        <div class="menu-black__close hide-cursor">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Start-a-project.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" class="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    class="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Start-a-project.html">Start a project</a>
                        <a href="tel:0902826031">(+84)902 826 031</a>
                        <a href="mailto:info@align.vn">info@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <!-- <a href="/career.html" onclick="return false;" class="hover">Career</a> -->
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper smooth-scroll" data-scroll-container>
        <div class="mt">
            <section class="blogDetail last-section">
                <div class="container">
                    <h1 class="insightsPage-heading blogDetail-heading">
                        What is Branding? The important basics

                    </h1>
                    <div class="button-type">
                        <div>Branding</div>
                        <div>Process and tools</div>
                    </div>


                    <h2 class="blogDetail-desc__content blogDetail-h2">
                        What is a brand? Most would say it's the logo, or the look of a company. If only it was that
                        simple.
                    </h2>

                    <div class="wrap-parallax blogDetail-parallax">
                        <img src="/Images/WhatIsBranding.webp" alt="" class="image-parallax">
                    </div>

                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            What is a brand? Most would say it's the logo, or the look of a company. If only it was that
                            simple. A brand is more than a company's visual representation, such as the logo, colors and
                            typography. In short, a brand is a representation of a company's values through personality
                            and visual elements. At the core of a brand is a company's values. The company's values
                            affect the company's personality, which is then communicated with elements such as the logo,
                            typography, tagline, colors, shapes, textures, company culture, internal communication, and
                            marketing practices.
                        </div>
                        <div class="blogDetail-desc__content">
                            In a lot of ways you can relate a company's brand to your personality. Your <span
                                class="fw-bold">values</span> affect
                            your behavior and actions that make up your <span class="fw-bold">personality</span>. Your
                            personality is reflected in
                            the way you dress, and the way you <span class="fw-bold">visually</span> represent yourself.
                        </div>
                    </div>

                    <div class="wrap-parallax blogDetail-parallax">
                        <img src="/Images/WhatIsBrandingOne.webp" alt="" class="image-parallax">
                    </div>

                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            Just like Mike, a well branded company should be easy to understand. When a company closely
                            follows a well defined brand it helps their customers understand and build relationships
                            with the brand - just like Mike and his friends. Unfortunately, building a company brand is
                            much more complex and delicate than being yourself. A company is a collection of many people
                            with individual personalities. And these people are representing the brand throughout the
                            many touchpoints a company may have with their customers.
                        </div>
                        <div class="blogDetail-desc__content">
                            To build a strong company brand, everyone involved needs to understand the brand and
                            participate in representing the brand. Because of this, not only is a brand an external
                            communication of a company's values, but also an internal communication of these same
                            values.
                        </div>

                        <div class="blogDetail-desc__content fw-bold">
                            The benefits of building a strong brand for your company
                        </div>
                        <div class="blogDetail-desc__content">
                            Having a strong brand is so valuable, that it directly adds to a company's valuation,
                            through the intangible asset known as Brand Equity. For example, in 2019 the brand equity of
                            Coca-Cola was estimated to be <span class="yellow fw-bold"><a target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://www.statista.com/statistics/326065/coca-cola-brand-value/">81
                                    billion</a></span>,
                            representing ~40% of the company's market value.
                            However, what we are concerned about in this post, is the ingredients that create brand
                            equity; brand loyalty, brand awareness and brand associations.
                        </div>
                    </div>


                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            Here’s a few ways that positive branding directly creates value for any business:
                        </div>
                        <div class="blogDetail-desc__content fw-bold">
                            Brand Loyalty
                        </div>
                        <div class="blogDetail-desc__content">
                            <span class="fw-bold">Reduced long term marketing costs:</span> Generally, it’s cheaper to
                            keep a customer, than creating
                            a new one.
                            <br>
                            <span class="fw-bold">Market leverage:</span>For example, if brand loyalists frequently
                            request
                            your product in store,
                            this creates negotiation leverage with retailers. This could lead to reduced costs of shelf
                            space.
                            <br>
                            <span class="fw-bold">Free brand ambassadors:</span> With solid branding and a great product
                            it's possible to build core
                            brand loyalists. These loyalists will live and breath the brand, and push the brand forward.
                            This is how many clothing brands rose to fame and fortune.
                        </div>
                        <div class="blogDetail-desc__content fw-bold">
                            Brand Awareness
                        </div>
                        <div class="blogDetail-desc__content">
                            Lowered acquisition costs of a new product line: When a customer believes and trusts a
                            brand, they are more likely to associate those same feelings with all products under that
                            brand. This eases customers into making new purchasing decisions. This lowers the financial
                            cost per new acquisition.
                        </div>
                        <div class="blogDetail-desc__content">
                            Take Amazon for example. Amazon has positioned their brand to be customer centric, offering
                            their famous A-to-Z guarantee. This guarantee has been a pillar of their brand strategy
                            since the beginning. Building trust as an association to the Amazon brand is why customers
                            can comfortably purchase virtually any product through their platform.
                        </div>
                        <div class="blogDetail-desc__content">
                            <span class="fw-bold">Differentiation in a saturated market:</span>
                            branding is a good way to differentiate yourself amongst the crowd in a saturated market.
                            For example, during a branding strategy workshop with one of our previous clients we
                            discovered that all competing products and companies used very similar names, and the same
                            packaging layouts and red color schemes. Through research we found that customers have no
                            expectation for that packaging design; companies were copying each other because they saw
                            the design work for the market leader. We strategically rebranded and designed the
                            packaging, and took advantage of the opportunity to stand out.
                            <br>
                            <span class="fw-bold">Build credibility for small companies:</span>
                            Ever find an online store with a product you wanted to buy, but something felt off?
                            Questioned the authenticity of an online store? Branding helps build credibility and
                            authority and put new customers at ease.
                            <br>
                            <span class="fw-bold">Increase perceived quality:</span>
                            Similar to above, having a well developed brand helps potential customers trust and believe
                            in the quality of your service or products. By using the right branding, you can increase
                            the perceived quality of a product. This in turn, allows you to increase prices.
                        </div>
                    </div>

                    <div class="blogDetail-flex">
                        <div class="wrap-parallax blogDetail-parallax">
                            <img src="/Images/WhatIsBrandingTwo.webp" alt="" class="image-parallax">
                        </div>
                        <div class="wrap-parallax blogDetail-parallax">
                            <img src="/Images/WhatIsBrandingThree.webp" alt="" class="image-parallax">
                        </div>
                    </div>
                    <div class="blogDetail-desc">
                        <div class="blogDetail-desc__content">
                            As you can see, there are a ton of benefits to having a strategically developed and cohesive
                            brand. Any company can benefit from a solid brand strategy, whether it’s a billion dollar
                            corporation, or a small mom and pop. However, building a brand is not a simple task. Along
                            with developing a well thought out brand positioning strategy, a company needs to
                            communicate the brand internally and externally. Additionally, it’s important to
                            consistently invest into the brand, and slowly change the brand to stay with the times.
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="insights more last-section">
                <div class="container">
                    <div class="insights-title">
                        More
                    </div>
                    <div class="insights-list more-list">
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingOne.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingFive.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                        <div class="insights-item">
                            <div class="insights-wrap">
                                <img src="/Images/BrandingSix.png" alt="">
                                <div class="project-overlay">
                                    <div class="project-overlay__wrap">
                                        <div class="project-overlay__top">
                                            <div class="project-overlay__title">
                                                Lorem ipsum dolor sit
                                            </div>
                                            <div class="project-overlay__field">
                                                Industry
                                            </div>
                                        </div>
                                        <div class="project-overlay__bottom">
                                            Branding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-title">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                            <div class="button-type">
                                <div>Website</div>
                                <div>Branding</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <footer class="footer">
                <div class="container footer-container">
                    <div class="footer-wrap">
                        <div class="footer-outter">
                            <div class="footer-heading">
                                <a href="/blog/the-importance-of-intelligent-website-design-for-business.html"
                                    class="footer-heading__text">
                                    <span>The important of</span> <br>
                                    <span>Intelligent</span>
                                </a>
                                <a href="/blog/the-importance-of-intelligent-website-design-for-business.html"
                                    class="hide-cursor hide-on-mobile" id="circle-footer">
                                    <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer" />

                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer__clone" />
                                    </svg>
                                </a>
                            </div>
                            <div class="footer-bottom">
                                <div class="footer-body">
                                    <div class="footer-contact order-2">
                                        <a href="mailto:info@align.vn" class="footer-gmail">
                                            info@align.vn
                                        </a>
                                        <div class="footer-address">
                                            <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                                rel="noopener noreferrer">
                                                <span>
                                                    256/10 Pham Van Hai, Ward 5,
                                                </span>
                                                <br>
                                                <span>Tan Binh District, HCM City</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="/Start-a-project.html" class="footer-button">
                                        <div class="project-button">
                                            <div class="button">
                                                <div class="button__filler"></div>
                                                <span class="button__text">
                                                    <span class="button__text-inner">Start a project</span>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="footer-times order-3">
                                        <div class="footer-usa">
                                            <div id="time-sf"></div>
                                            <div>PST,SF</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-texas"></div>
                                            <div>CST,TX</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-atlanta"></div>
                                            <div>EST,ATL</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-vietnam"></div>
                                            <div>HCMC,VN</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-end">
                                    <div class="footer-private">
                                        <div class="footer-policy ">
                                            <a class="hover" href="#">Privacy Policy</a>
                                        </div>
                                        <div class="footer-copyrights">
                                            <a class="hover" href="#">© Align 2022</a>
                                        </div>
                                    </div>
                                    <div class="footer-sub hover">
                                        Subscribe to our Newsletter
                                    </div>
                                    <div class="footer-social">
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.facebook.com/alignlab">Facebook</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.instagram.com/align.vn/">Instagram</a>
                                    </div>
                                </div>
                            </div>
                            <div id="mc_embed_signup">
                                <form
                                    action="https://align.us14.list-manage.com/subscribe/post?u=5c43dcc9081fb93efbefd4d66&amp;id=f3ae99ddbd"
                                    method="post" id="mc-embedded-subscribe-form" class="validate" target="_blank"
                                    novalidate>
                                    <div class="footer-form" id="mc_embed_signup_form">
                                        <input type="email" placeholder="Add your email address" name="EMAIL"
                                            id="mce-EMAIL" class="input-email">
                                        <div id="mce-responses" class="input-erorr">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none">

                                            </div>
                                        </div>
                                        <button type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="circle-footer hide-cursor">
                                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer" />
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer__clone" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57482225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-57482225-1');
    </script>
    <!-- Pixel Code for https://analysis.alignlab.com/ -->
    <script async src="https://analysis.alignlab.com/pixel/UcKTADruVngdbcVP"></script>
    <!-- Mailchimp -->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);
    </script>
    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>
    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
</body>

</html>