<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./App/Scss/style.css">
    <!-- Link Locomotive CSS -->
    <link rel="stylesheet" href="./App/Css/locomotive.css">
    <!-- Link Splitting CSS -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="/Images/ShortCut.png" />
</head>

<body>
    <div id="loading">
    </div>
    <div class="cursor-follow">
        <span class="cursor-view">
            View
        </span>
    </div>
    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/index.html" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>


        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">


                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Contact.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" id="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    id="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Contact.html">Start a project</a>
                        <a href="tel:0293809125">0293809125</a>
                        <a href="mailto:business@align.vn">business@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <a href="/career.html" class="hover">Career</a>
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div href="#" class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper smooth-scroll" data-scroll-container>
        <section class="about mt">
            <div class="container">
                <div class="about-title" data-splitting>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quisque cursus porta dignissim et luctus.
                    </span>
                    <span>
                        Eget arcu congue faucibus lectus arcu vestibulum.
                    </span>
                </div>
                <div class="about-parallax wrap-parallax">
                    <img src="/Images/AboutBanner.jpg" loading="eager" alt="" class="about-banner image-parallax">
                </div>
                <div class="about-achievements">
                    <div class="about-achievements__flex">
                        <div class="about-achievements__item">
                            <div class="about-achievements__number">10+</div>
                            <div class="about-achievements__desc">Members</div>
                        </div>
                        <div class="about-achievements__item">
                            <div class="about-achievements__number">300+</div>
                            <div class="about-achievements__desc">Projects</div>
                        </div>
                        <div class="about-achievements__item">
                            <div class="about-achievements__number">10 years</div>
                            <div class="about-achievements__desc">of Experience</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clients">
            <div class="clients-marque">
                <div class="container">
                    <div class="clients-title">
                        Clients
                    </div>
                    <div class="clients-list">
                        <div class="clients-list__heading">
                            Educational
                        </div>
                        <div class="clients-list__marque">
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/EduLogoOne.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoTwo.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoThree.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFour.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFive.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSix.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSeven.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoEight.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoNine.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/EduLogoOne.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoTwo.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoThree.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFour.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFive.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSix.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSeven.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoEight.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoNine.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/EduLogoOne.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoTwo.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoThree.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFour.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFive.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSix.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSeven.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoEight.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoNine.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="container">
                    <div class="clients-list">
                        <div class="clients-list__heading">
                            Industrial
                        </div>
                        <div class="clients-list__marque">
                            <ul class="clients-list__icon marqueForward">
                                <li>
                                    <img src="/Images/IndusLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo9.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marqueForward">
                                <li>
                                    <img src="/Images/IndusLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo9.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marqueForward">
                                <li>
                                    <img src="/Images/IndusLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo9.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="container">
                    <div class="clients-list">
                        <div class="clients-list__heading">
                            American
                        </div>
                        <div class="clients-list__marque">
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/AmericanLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo9.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/AmericanLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo9.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/AmericanLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo9.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
        </section>
        <section class="story">
            <div class="container">
                <div class="story-heading">
                    <div class="story-title">Our story</div>
                    <div class="story-desc" data-splitting>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit mattis dictum dapibus ac
                            sodales. Ultricies luctus viverra commodo hendrerit quis etiam. Nec a nisl ornare diam
                            amet.
                            Magna enim pharetra nisl tincidunt nisi. </span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit mattis dictum dapibus ac
                            sodales. Ultricies luctus viverra commodo hendrerit quis etiam.</span>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit mattis dictum dapibus ac
                            sodales. Ultricies luctus viverra commodo hendrerit quis etiam.
                        </span>
                    </div>
                </div>
                <div class="story-flex">
                    <img src="/Images/StoryOne.jpg" alt="" class="story-image width-4" />
                    <div class="story-title">lorem</div>
                    <img src="/Images/StoryTwo.jpg" alt="" class="story-image width-4" />
                </div>
                <div class="story-flex">
                    <div class="story-title">
                        lorem
                    </div>
                    <img src="Images/StoryThree.jpg" class="story-image width-8" />
                </div>
                <div class="story-flex">
                    <img src="/Images/StoryFour.jpg" alt="" class="story-image width-4">
                    <div class="story-desc" data-splitting>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit mattis dictum dapibus ac
                            sodales. Ultricies luctus viverra commodo hendrerit quis etiam. Nec a nisl ornare diam
                            amet.
                            Magna enim pharetra nisl tincidunt nisi. </span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit mattis dictum dapibus ac
                            sodales. Ultricies luctus viverra commodo hendrerit quis etiam.</span>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit mattis dictum dapibus ac
                            sodales. Ultricies luctus viverra commodo hendrerit quis etiam.
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="services last-section whiteSmoke">
            <div class="container">
                <div class="services-quote about-quote" data-splitting>
                    <span data-content="customer">Customer centered design.</span><br>
                    <span data-content="outsourcing">Process driven.</span>
                    <span data-content="design">On brand design.</span><br>
                    <span data-content="custom">Custom design and coding.</span>
                    <span data-content="result">Result oriented.</span>
                    <span data-content="transparency">Transparency.</span><br>
                    <span data-content="clear">Clear & frequent communication.</span>

                    <div class="services-symbol">
                        <div class="services-content" id="customer">
                            <span>
                                We do careful customer research and design to meet your customer's needs.
                            </span>
                        </div>
                        <div class="services-content" id="outsourcing">
                            <span>
                                Our clear process makes you feel at peace because you know what to expect for each phase
                                of the project.
                            </span>
                        </div>
                        <div class="services-content" id="design">
                            <span>
                                Our design follow your brand's guidelines
                            </span>
                        </div>
                        <div class="services-content" id="custom">
                            <span>
                                We make sure that every design is unique and fit with personality of your brand

                            </span>
                        </div>
                        <div class="services-content" id="result">
                            <span>
                                We make sure that we can solve the client's problem in our design
                            </span>
                        </div>
                        <div class="services-content" id="transparency">
                            <span> We are transparent about what we can and can not do</span>
                        </div>
                        <div class="services-content" id="clear">
                            <span>
                                We strictly follow the timeline and keep our client updated on the progress. We work
                                closely with the client to solve any challenge that rise up during and after the life
                                cycle of the project.

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer-container">
                <div class="footer-wrap">
                    <div class="footer-outter">
                        <div class="footer-heading">
                            <a href="/career.html" class="footer-heading__text">
                                <span>Wanna</span> <br>
                                <span>join ur team?</span>
                            </a>
                            <a href="/career.html" class="hide-cursor hide-on-mobile" id="circle-footer">
                                <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer" />

                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer__clone" />
                                </svg>
                            </a>
                        </div>
                        <div class="footer-bottom">
                            <div class="footer-body">
                                <div class="footer-contact order-2">
                                    <a href="mailto:info@align.vn" class="footer-gmail">
                                        info@align.vn
                                    </a>
                                    <div class="footer-address">
                                        <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                            rel="noopener noreferrer">
                                            <span>
                                                256/10 Pham Van Hai, Ward 5,
                                            </span>
                                            <br>
                                            <span>Tan Binh District, HCM City</span>
                                        </a>
                                    </div>
                                </div>
                                <a href="/Contact.html" class="footer-button">
                                    <div class="project-button">
                                        <div class="button">
                                            <div class="button__filler"></div>
                                            <span class="button__text">
                                                <span class="button__text-inner">Start a project</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <div class="footer-times order-3">
                                    <div class="footer-usa">
                                        <div id="time-sf"></div>
                                        <div>PST,SF</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-texas"></div>
                                        <div>CST,TX</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-atlanta"></div>
                                        <div>EST,ATL</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-vietnam"></div>
                                        <div>HCMC,VN</div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-end">
                                <div class="footer-private">
                                    <div class="footer-policy ">
                                        <a class="hover" href="#">Privacy Policy</a>
                                    </div>
                                    <div class="footer-copyrights">
                                        <a class="hover" href="#">© Align 2022</a>
                                    </div>
                                </div>
                                <div class="footer-sub hover">
                                    Subscribe to our Newsletter
                                </div>
                                <div class="footer-social">
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.facebook.com/alignlab">Facebook</a>
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.instagram.com/align.vn/">Instagram</a>
                                </div>
                            </div>
                        </div>
                        <div class="footer-form">
                            <input type="text" placeholder="Add your email address">
                            <a class="hide-cursor" id="circle-footer">
                                <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer" />
                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer__clone" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>
    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
</body>

</html>