<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carreer</title>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./App/Scss/style.css">
    <!-- Link Locomotive CSS -->
    <link rel="stylesheet" href="./App/Css/locomotive.css">
    <!-- Link Splitting CSS -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="/Images/ShortCut.png" />
</head>

<body>
    <div id="loading"></div>
    <div class="cursor-follow">
        <span class="cursor-view">
            View
        </span>
    </div>

    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/index.html" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>


        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">


                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Contact.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" id="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    id="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Contact.html">Start a project</a>
                        <a href="tel:0293809125">0293809125</a>
                        <a href="mailto:business@align.vn">business@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <a href="/career.html" class="hover">Career</a>
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div href="#" class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper smooth-scroll" data-scroll-container>
        <div class="popup">
            <div class="popup-wrap">
                <div class="contact-cv">
                    <div href="#" class="contact-close menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="contact-cv__name contact-input">
                        <input type="text" name="Name" id="" placeholder="Your name">
                    </div>
                    <div class="contact-cv__email contact-input">
                        <input type="text" name="Email" id="" placeholder="Email">
                    </div>
                    <div class="contact-cv__website contact-input">
                        <input type="text" name="Website" id="" placeholder="Phone">
                    </div>
                    <div class="contact-input">
                        <textarea name="Tell us" id="" placeholder="Tell us  about you"></textarea>
                    </div>
                    <div class="contact-cv__attachment contact-input">
                        <div>
                            <img src="/Images/icons8-attachment-32.png" alt="">
                            <label>AddCV/Add attachment</label>
                        </div>
                        <input type="file" name="attachment" id="" placeholder="Add attachment">
                    </div>

                    <div class="project-button carreer-button">
                        <div class="button">
                            <div class="button__filler"></div>
                            <span class="button__text">
                                <span class="button__text-inner">Apply Now</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="mt carreer last-section">
            <div class="container">
                <div class="carreer-title">
                    Hey there, we’re hiring a <span>developer</span> and a <span>3d visualizer</span>
                </div>
                <div class="carreer-job">
                    <div class="carreer-job__title">
                        SENIOR DEVELOPER
                    </div>
                    <div class="carreer-job__time">
                        <span>Timeframe:</span>Full time
                    </div>
                    <div class="carreer-job__exper">
                        <span>Experience Requirement:</span>+2 years
                    </div>
                    <div class="carreer-job__desc">
                        You have at least 2-3 years of experience in webs, front-end, database and Wordpress developing.
                        Your primary role is to take the design from our design team and give them life through your
                        development skills. Your secondary role is to maintain and upkeep all Align's clients on our
                        servers. A qualified candidate must be motivate, able to research and solve problems, detailed
                        in replicating designs, organized and able to communicate well their progress, ability and time
                        of completion of their project.
                    </div>

                    <div class="carreer-job__respon">
                        <div class="carreer-h5">You'll be responsible for:</div>
                        <ul>
                            <li>Creating websites from our design team</li>
                            <li>Managing clients website through our severs
                            </li>
                        </ul>
                    </div>

                    <div class="carreer-job__skill">
                        <div class="carreer-h5">Your skills and experience:
                        </div>
                        <ul>
                            <li>Good communication skills in English (speaking and writing).
                            </li>
                            <li>At least 1-2 years of professional development experience.
                            </li>
                            <li>Highly skilled in Wordpress</li>
                            <li>Ability to create Wordpress plugins
                            </li>
                            <li>Excellent Javascript, CSS, HTML, PHP, MySQL
                            </li>
                            <li>Ability to manage server (backup, cron, website uptime)
                            </li>
                            <li>Understand in Figma</li>
                            <li>Strong time management skills
                            </li>
                            <li>An insane attention to detail, delivering extremely polished, client-ready work</li>
                            <li>Ability to learn new UX concepts/techniques when needed
                            </li>
                            <li>Capable of working under pressure, multi-tasking, and managing time and projects
                                effectively
                            </li>
                            <li>Be able to research and solve problems effectively</li>
                            <li>Able to communicate timeline and ability effectively
                            </li>
                            <li>Ability to handle tight deadlines in a fast-paced environment
                            </li>
                        </ul>
                    </div>

                    <div class="carreer-job__extra">
                        <div class="carreer-h5">Good to have: </div>
                        <ul>
                            <li>Knowledge of design software: Adobe Illustrator, Photoshop, etc</li>
                            <li>Lottie and SVG animation</li>
                            <li>Design principles: Color theory, typography, layouts, spacing</li>
                            <li>Website speed and optimization
                            </li>
                            <li>Website technical and on page SEO</li>
                        </ul>
                    </div>

                    <div class="project-button carreer-button">
                        <div class="button">
                            <div class="button__filler"></div>
                            <span class="button__text">
                                <span class="button__text-inner">Apply Now</span>
                            </span>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer-container">
                <div class="footer-wrap">
                    <div class="footer-outter">
                        <div class="footer-heading">
                            <a href="/career.html" class="footer-heading__text">
                                <span>Wanna</span> <br>
                                <span>join ur team?</span>
                            </a>
                            <a href="/career.html" class="hide-cursor hide-on-mobile" id="circle-footer">
                                <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer" />

                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer__clone" />
                                </svg>
                            </a>
                        </div>
                        <div class="footer-bottom">
                            <div class="footer-body">
                                <div class="footer-contact order-2">
                                    <a href="mailto:info@align.vn" class="footer-gmail">
                                        info@align.vn
                                    </a>
                                    <div class="footer-address">
                                        <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                            rel="noopener noreferrer">
                                            <span>
                                                256/10 Pham Van Hai, Ward 5,
                                            </span>
                                            <br>
                                            <span>Tan Binh District, HCM City</span>
                                        </a>
                                    </div>
                                </div>
                                <a href="/Contact.html" class="footer-button">
                                    <div class="project-button">
                                        <div class="button">
                                            <div class="button__filler"></div>
                                            <span class="button__text">
                                                <span class="button__text-inner">Start a project</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <div class="footer-times order-3">
                                    <div class="footer-usa">
                                        <div id="time-sf"></div>
                                        <div>PST,SF</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-texas"></div>
                                        <div>CST,TX</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-atlanta"></div>
                                        <div>EST,ATL</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-vietnam"></div>
                                        <div>HCMC,VN</div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-end">
                                <div class="footer-private">
                                    <div class="footer-policy ">
                                        <a class="hover" href="#">Privacy Policy</a>
                                    </div>
                                    <div class="footer-copyrights">
                                        <a class="hover" href="#">© Align 2022</a>
                                    </div>
                                </div>
                                <div class="footer-sub hover">
                                    Subscribe to our Newsletter
                                </div>
                                <div class="footer-social">
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.facebook.com/alignlab">Facebook</a>
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.instagram.com/align.vn/">Instagram</a>
                                </div>
                            </div>
                        </div>
                        <div class="footer-form">
                            <input type="text" placeholder="Add your email address">
                            <a class="hide-cursor" id="circle-footer">
                                <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer" />
                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer__clone" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>


    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
</body>

</html>