

<body>
    <div id="loading">
    </div>
    <div class="cursor-follow">
        <div class="cursor-view">
            <span>
                View
            </span>
        </div>
        <div class="cursor-click">
            <div class="cursor-inner">
                <span class="cursor-text">
                    <span class="js-cursor-text">Click</span>
                    <span class="js-cursor-text__clone">Click</span>
                </span>
            </div>
        </div>
        <div class="cursor-drag">
            <div class="cursor-inner">
                <span class="cursor-text">
                    <span class="js-cursor-text">Drag</span>
                    <span class="js-cursor-text__clone">Drag</span>
                </span>
            </div>
        </div>
        <div class="cursor-soon">
            <span>
                Soon
            </span>
        </div>
    </div>
    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">
                    <div class="close-absolute">
                        <div class="menu-black__close hide-cursor">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Start-a-project.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" class="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    class="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Start-a-project.html">Start a project</a>
                        <a href="tel:0902826031">(+84)902 826 031</a>
                        <a href="mailto:info@align.vn">info@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <!-- <a href="/career.html" onclick="return false;" class="hover">Career</a> -->
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper smooth-scroll" data-scroll-container>
        <section class="hero mt">
            <div class="container">
                <div class="hero-flex">
                    <div class="hero-title">
                        <span>
                            Aligning customer with <br>
                            design and strategy
                        </span>
                    </div>
                    <div class="slogan-award">
                        <a target="_blank" rel="noopener noreferrer" href="https://clutch.co/profile/alignvn#summary"
                            class="slogan-logo">
                            <img src="/Images/Slogan.png" alt="">
                        </a>
                        <div class="slogan-award__content">
                            <a target="_blank" rel="noopener noreferrer" class="hover"
                                href="https://clutch.co/vn/agencies/branding">
                                Align is top 34 UX/UI
                            </a>
                            <a target="_blank" rel="noopener noreferrer" class="hover"
                                href="https://clutch.co/agencies/digital?page=6">Top VietNam Agency</a>
                            <a target="_blank" rel="noopener noreferrer" class="hover"
                                href="https://clutch.co/profile/alignvn#summary">5 <img src="/Images/star.png" alt="">
                                Reviews (13)</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="canvas" class="canvas1">
        </div>
        <section class="slogan">
            <div class="container">
                <div class="slogan-wrap">
                    <div class="slogan-text" data-splitting>
                        <span class="slogan-animation">Your customers wants to know your
                            <span class="slogan-orange">
                                <a href="/" onclick="return false;" class="hover">brand. </a>
                            </span>
                        </span>
                        <span class="slogan-animation">Create your story & reach them with your
                            <span class="slogan-orange">
                                <a href="/" onclick="return false;" class="hover">website. </a>
                            </span>

                        </span>
                        <span class="slogan-animation">
                            Keep them coming back with
                            <span class="slogan-orange">
                                <a href="/" onclick="return false;" class="hover">SEO</a>
                            </span>.
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="project">
            <div class="container">
                <div class="project-title">Website projects</div>
                <div class="project-grid">
                    <a href="./Work/Funingpu.html" class="project-item project-view">
                        <img src="/Images/FuningpuBanner.png" alt="">
                        <div class="project-content">
                            <div class="project-title">
                                Web Dev for International Manufacturer
                            </div>
                        </div>
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Funingpu
                                    </div>
                                    <div class="project-overlay__field">
                                        Manufacturer
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Website
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="./Work/Furas.html" class="project-item project-view">
                        <img src="/Images/FurasBanner.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Furas Furniture
                                    </div>
                                    <div class="project-overlay__field">
                                        Manufacturer
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Website
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="./Work/ICM.html" class="project-item project-view">
                        <img src="/Images/ICMBanner.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        ICMFalk
                                    </div>
                                    <div class="project-overlay__field">
                                        Non-profit
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Website
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/Work/SolutionsMet.html" class="project-item project-view">
                        <img src="/Images/SmBanner.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Solutions Met
                                    </div>
                                    <div class="project-overlay__field">
                                        Technology
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Website
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/Work/Ardor.html" class="project-item project-view">
                        <img src="/Images/ArdorBanner.png" alt="">
                        <div class="project-overlay project-view">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Ardor
                                    </div>
                                    <div class="project-overlay__field">
                                        Architechure
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Website
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/Work/DataSociety.html" class="project-item project-view">
                        <img src="/Images/DataBanner.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Data Society
                                    </div>
                                    <div class="project-overlay__field">
                                        Technology
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Website
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <!-- <div class="project-button">
                    <div class="button">
                        <div class="button__filler"></div>
                        <span class="button__text">
                            <a href="/works.html" class="button__text-inner">View all projects</a>
                        </span>
                    </div>
                </div> -->
            </div>
        </section>
        <section class="project">
            <div class="container">
                <div class="project-title">Branding projects</div>
                <div class="project-grid">
                    <a href="/Work/nafoods-print-design.html" class="project-item branding-item project-view">
                        <img src="/Images/NaFoodBanner.jpg" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Nafoods
                                    </div>
                                    <div class="project-overlay__field">
                                        Foods
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Packaging Design
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/Work/skyline-spirulina.html" class="project-item branding-item project-view">
                        <img src="/Images/SkylineBanner.webp" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title title-small">
                                        Skyline
                                    </div>
                                    <div class="project-overlay__field">
                                        Health
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/Work/nafoods-group.html" class="project-item branding-item project-view">
                        <img src="/Images/NaFoodBanner.webp" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Nafoods
                                    </div>
                                    <div class="project-overlay__field">
                                        Food
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/Work/bizen.html" class="project-item branding-item project-view">
                        <img src="/Images/BizenBanner.webp" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Bizen Catering
                                    </div>
                                    <div class="project-overlay__field">
                                        Food
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/Work/msi.html" class="project-item branding-item project-view">
                        <img src="/Images/CancerBanner.webp" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Marie Stopes
                                    </div>
                                    <div class="project-overlay__field">
                                        Health Care
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/Work/em-wear.html" class="project-item branding-item project-view">
                        <img src="/Images/EmWearBanner.webp" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        EmWear
                                    </div>
                                    <div class="project-overlay__field">
                                        Fashion
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <!-- <div class="project-button">
                    <div class="button">
                        <div class="button__filler"></div>
                        <span class="button__text">
                            <a href="/works.html" class="button__text-inner">View all projects</a>
                        </span>
                    </div>
                </div> -->
            </div>
        </section>
        <section class="services services-section">
            <div class="container">
                <div class="services-flex">
                    <div class="services-title">
                        Services
                    </div>
                    <div class="services-list">
                        <div class="services-item">
                            <div class="services-item__heading">
                                <span class="services-item__title">
                                    Branding
                                </span>
                                <span class="services-item__arrow">
                                    <img src="/Images/Arrow.png" alt="">
                                </span>
                            </div>
                            <div class="services-item__desc">
                                Design brand identity with a strategy that makes your brand stand out and successful.
                            </div>
                        </div>
                        <div class="services-item">
                            <div class="services-item__heading">
                                <span class="services-item__title">
                                    Websites
                                </span>
                                <span class="services-item__arrow">
                                    <img src="/Images/Arrow.png" alt="">
                                </span>
                            </div>
                            <div class="services-item__desc">
                                Design and develop beautiful websites that can tell your brand’s story.

                            </div>
                        </div>
                        <div class="services-item">
                            <div class="services-item__heading">
                                <span class="services-item__title">
                                    SEO
                                </span>
                                <span class="services-item__arrow">
                                    <img src="/Images/Arrow.png" alt="">
                                </span>
                            </div>
                            <div class="services-item__desc">
                                Creating content for your website that can keep your client coming back.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-quote" data-splitting>
                    <span data-content="customer">Customer centered design.</span><br>
                    <span data-content="outsourcing">Process driven.</span>
                    <span data-content="design">On brand design.</span><br>
                    <span data-content="custom">Custom design and coding.</span>
                    <span data-content="result">Result oriented.</span>
                    <span data-content="transparency">Transparency.</span><br>
                    <span data-content="clear">Clear & frequent communication.</span>

                    <div class="services-symbol">
                        <div class="services-content" id="customer">
                            <span>
                                We do careful research then design to meet your customer's needs.
                            </span>
                        </div>
                        <div class="services-content" id="outsourcing">
                            <span>
                                Our clear process makes you feel at peace because you know what to expect for each phase
                                of the project.

                            </span>
                        </div>
                        <div class="services-content" id="design">
                            <span>
                                Our design follow your brand's guidelines
                            </span>
                        </div>
                        <div class="services-content" id="custom">
                            <span>
                                We make sure that every design is unique and fit with the personality of your brand
                            </span>
                        </div>
                        <div class="services-content" id="result">
                            <span>
                                We make sure that we can solve your problem in our design

                            </span>
                        </div>
                        <div class="services-content" id="transparency">
                            <span> We are transparent about what we can and can not do
                            </span>
                        </div>
                        <div class="services-content" id="clear">
                            <span>
                                We strictly follow the timeline and keep you updated on the progress. We work closely
                                with you to solve any challenge that arises during and after the project.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clients">
            <div class="clients-marque">
                <div class="container">
                    <div class="clients-title">
                        Clients
                    </div>
                    <div class="clients-list">
                        <div class="clients-list__heading">
                            Educational
                        </div>
                        <div class="clients-list__marque">
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/EduLogoOne.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoTwo.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoThree.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFour.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFive.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSix.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSeven.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoEight.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoNine.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/EduLogoOne.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoTwo.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoThree.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFour.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFive.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSix.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSeven.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoEight.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoNine.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/EduLogoOne.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoTwo.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoThree.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFour.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoFive.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSix.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoSeven.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoEight.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/EduLogoNine.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="container">
                    <div class="clients-list">
                        <div class="clients-list__heading">
                            Industrial
                        </div>
                        <div class="clients-list__marque">
                            <ul class="clients-list__icon marqueForward">
                                <li>
                                    <img src="/Images/IndusLogo1.png" alt="" class="clients-list__w7">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo8.png" alt="" class="clients-list__w7">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo9.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marqueForward">
                                <li>
                                    <img src="/Images/IndusLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo9.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marqueForward">
                                <li>
                                    <img src="/Images/IndusLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/IndusLogo9.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="container">
                    <div class="clients-list">
                        <div class="clients-list__heading">
                            American
                        </div>
                        <div class="clients-list__marque">
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/AmericanLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo9.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/AmericanLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo9.png" alt="">
                                </li>
                            </ul>
                            <ul class="clients-list__icon marque">
                                <li>
                                    <img src="/Images/AmericanLogo1.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo2.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo3.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo4.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo5.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo6.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo7.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo8.png" alt="">
                                </li>
                                <li>
                                    <img src="/Images/AmericanLogo9.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="container">
                <div class="reviews">
                    <div class="reviews-flex mainSwiper">
                        <div class="personSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide reviews-info">
                                    <div class="reviews-personal">
                                        <img src="/Images/ArdorClient.jpg" alt="">
                                        <div class="reviews-personal__text">
                                            <p>Arden Linh Nguyen
                                            </p>
                                            <p>Head of Marketing, Ardor Group
                                            </p>

                                            <ul>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide reviews-info">
                                    <div class="reviews-personal">
                                        <img src="/Images/GIACeo.png" alt="">
                                        <div class="reviews-personal__text">
                                            <p>Peter Nguyen</p>
                                            <p>VP of marketing, Gia Capital LLC.</p>


                                            <ul>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide reviews-info">
                                    <div class="reviews-personal">
                                        <img src="/Images/Phil.png" alt="">
                                        <div class="reviews-personal__text">
                                            <p>Phil Greswold</p>
                                            <p>MD, KEEP</p>


                                            <ul>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="reviewSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide reviews-quote">
                                    <q>They managed to offer a professional website that was so affordable compared to
                                        the effort that they put in.
                                    </q>
                                </div>
                                <div class="swiper-slide reviews-quote">
                                    <q>Their designers did an awesome job and we felt that they are masters of their
                                        craft.</q>
                                </div>
                                <div class="swiper-slide reviews-quote">
                                    <q>
                                        Their good communication stood out for us.
                                    </q>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a target="_blank" rel="noopener noreferrer" href="https://clutch.co/profile/alignvn#reviews"
                        class="reviews-logo hover">
                        <img src="/Images/Slogan.png" alt="">
                        <p>Reviews from Clutch</p>
                    </a>
                </div>
            </div>
        </section>
        <section class="insights last-section">
            <div class="container">
                <div class="insights-title">
                    Insights
                </div>
                <div class="insightSlider">
                    <div class="swiper-wrapper">
                        <a href="/blog/how-good-design-is-helping-businesses-in-vietnam-grow.html"
                            class="insightSlider-item swiper-slide">
                            <div class="rto-box">
                                <img src="/Images/BlogBannerOne.png" alt="">
                            </div>
                            <div class="insightSlider-title">
                                How good design is helping bussiness in VietNam grow
                            </div>
                            <div class="button-type">
                                <div>Case Study</div>
                                <div>UI/UX</div>
                            </div>
                        </a>
                        <a href="/blog/what-is-branding-the-important-basics.html"
                            class="insightSlider-item swiper-slide">
                            <div class="rto-box">
                                <img src="/Images/BlogBannerThree.png" alt="">
                            </div>
                            <div class="insightSlider-title">
                                What is Branding? The important basics
                            </div>
                            <div class="button-type">
                                <div>Process and Tools</div>
                                <div>Branding</div>
                            </div>
                        </a>
                        <a href="/blog/the-importance-of-intelligent-website-design-for-business.html"
                            class="insightSlider-item swiper-slide">
                            <div class="rto-box">
                                <img src="/Images/BlogBannerTwo.png" alt="">
                            </div>
                            <div class="insightSlider-title">
                                The Importance Of Intelligent Website Design For Business
                            </div>
                            <div class="button-type">
                                <div>UI/UX</div>
                            </div>
                        </a>
                        <a href="/blog/top-3-million-dollar-questions-to-expect-from-investors.html"
                            class="insightSlider-item swiper-slide">
                            <div class="rto-box">
                                <img src="/Images/Top3Banner.JPG" alt="">
                            </div>
                            <div class="insightSlider-title">
                                Top 3 Million-Dollar Questions To Expect From Investors

                            </div>
                            <div class="button-type">
                                <div>Interview</div>
                            </div>
                        </a>
                        <a href="/blog/content-marketing.html" class="insightSlider-item swiper-slide">
                            <div class="rto-box">
                                <img src="/Images/MarketingContentBanner.jpg" alt="">
                            </div>
                            <div class="insightSlider-title">
                                What is content marketing and why it matters (to your business.)

                            </div>
                            <div class="button-type">
                                <div>Website</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer-container">
                <div class="footer-wrap">
                    <div class="footer-outter">
                        <div class="footer-heading">
                            <a href="/Start-a-project.html" class="footer-heading__text">
                                <span>Ready to tell us</span> <br>
                                <span>about your project?</span>
                            </a>
                            <a href="/Start-a-project.html" class="hide-cursor hide-on-mobile" id="circle-footer">
                                <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        class="arrow-footer" />

                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        class="arrow-footer__clone" />
                                </svg>
                            </a>
                        </div>
                        <div class="footer-bottom">
                            <div class="footer-body">
                                <div class="footer-contact">
                                    <a href="mailto:info@align.vn" class="footer-gmail">
                                        info@align.vn
                                    </a>
                                    <div class="footer-address">
                                        <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                            rel="noopener noreferrer">
                                            <span>
                                                256/10 Pham Van Hai, Ward 5,
                                            </span>
                                            <br>
                                            <span>Tan Binh District, HCM City</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="footer-times">
                                    <div class="footer-usa">
                                        <div id="time-sf"></div>
                                        <div>PST,SF</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-texas"></div>
                                        <div>CST,TX</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-atlanta"></div>
                                        <div>EST,ATL</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-vietnam"></div>
                                        <div>HCMC,VN</div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-end">
                                <div class="footer-private">
                                    <div class="footer-policy">
                                        <a class="hover" href="#">Privacy Policy</a>
                                    </div>
                                    <div class="footer-copyrights">
                                        <a class="hover" href="#">© Align 2022</a>
                                    </div>
                                </div>
                                <div class="footer-sub hover">
                                    Subscribe to our Newsletter
                                </div>
                                <div class="footer-social">
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.facebook.com/alignlab">Facebook</a>
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.instagram.com/align.vn/">Instagram</a>
                                </div>
                            </div>
                        </div>
                        <div id="mc_embed_signup">
                            <form
                                action="https://align.us14.list-manage.com/subscribe/post?u=5c43dcc9081fb93efbefd4d66&amp;id=f3ae99ddbd"
                                method="post" id="mc-embedded-subscribe-form" class="validate" target="_blank"
                                novalidate>
                                <div class="footer-form" id="mc_embed_signup_form">
                                    <input type="email" placeholder="Add your email address" name="EMAIL" id="mce-EMAIL"
                                        class="input-email">
                                    <div id="mce-responses" class="input-erorr">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none">
                                        </div>
                                    </div>
                                    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="circle-footer hide-cursor">
                                        <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                class="arrow-footer" />
                                            <path
                                                d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                class="arrow-footer__clone" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57482225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-57482225-1');
    </script>
    <!-- Pixel Code for https://analysis.alignlab.com/ -->
    <script async src="https://analysis.alignlab.com/pixel/UcKTADruVngdbcVP"></script>
    <!-- Mailchimp -->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);
    </script>
    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>
    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
</body>

</html>