<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./App/Scss/style.css">
    <!-- Link Locomotive CSS -->
    <link rel="stylesheet" href="./App/Css/locomotive.css">
    <!-- Link Splitting CSS -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="/Images/ShortCut.png" />
</head>

<body>
    <div id="loading">
    </div>
    <div class="cursor-follow">
        <div class="cursor-view">
            <span>
                View
            </span>
        </div>
        <div class="cursor-click">
            <div class="cursor-inner">
                <span class="cursor-text">
                    <span class="js-cursor-text">Click</span>
                    <span class="js-cursor-text__clone">Click</span>
                </span>
            </div>
        </div>
    </div>
    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/index.html" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>


        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">


                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Contact.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" id="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    id="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Contact.html">Start a project</a>
                        <a href="tel:0293809125">0293809125</a>
                        <a href="mailto:business@align.vn">business@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <a href="/career.html" class="hover">Career</a>
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div href="#" class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper smooth-scroll" data-scroll-container>
        <section class="works mt">
            <div class="container">
                <div class="works-heading">
                    <div class="works-title">
                        <span>We build the <span class="works-words">fastest</span> websites</span>
                    </div>
                    <div class="slogan-award works-slogan">
                        <a target="_blank" rel="noopener noreferrer" href="https://clutch.co/profile/alignvn"
                            class="slogan-logo">
                            <img src="/Images/Slogan.png" alt="">
                        </a>
                        <div class="slogan-award__content">
                            <a target="_blank" rel="noopener noreferrer" class="hover block"
                                href="https://clutch.co/vn/agencies/branding">
                                Align is top 34 UX/UI
                            </a>
                            <a target="_blank" rel="noopener noreferrer" class="hover block"
                                href="https://clutch.co/agencies/digital?page=6">Top VietNam Agency</a>
                            <a target="_blank" rel="noopener noreferrer" class="hover block"
                                href="https://clutch.co/profile/alignvn#summary">5 <img src="/Images/star.png" alt="">
                                Reviews (13)</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="project project-padding">
            <div class="container">
                <div class="project-grid pd20">
                    <div class="project-item">
                        <img src="/Images/ProjectOne.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <img src="/Images/ProjectTwo.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title title-small">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <img src="/Images/ProjectThree.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <img src="/Images/ProjectFive.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <img src="/Images/ProjectFour.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <img src="/Images/ProjectSix.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-grid pd0">
                    <div class="project-item branding-item">
                        <img src="/Images/BrandingOne.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item branding-item">
                        <img src="/Images/BrandingTwo.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title title-small">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item branding-item">
                        <img src="/Images/BrandingThree.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item branding-item">
                        <img src="/Images/BrandingFour.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item branding-item">
                        <img src="/Images/BrandingFive.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item branding-item">
                        <img src="/Images/BrandingSix.png" alt="">
                        <div class="project-overlay">
                            <div class="project-overlay__wrap">
                                <div class="project-overlay__top">
                                    <div class="project-overlay__title">
                                        Lorem ipsum dolor sit
                                    </div>
                                    <div class="project-overlay__field">
                                        Industry
                                    </div>
                                </div>
                                <div class="project-overlay__bottom">
                                    Branding
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="reviews pd-0">
                    <div class="reviews-flex mainSwiper">
                        <div class="personSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide reviews-info">
                                    <div class="reviews-personal">
                                        <img src="/Images/ArdorClient.jpg" alt="">
                                        <div class="reviews-personal__text">
                                            <p>Arden Linh Nguyen
                                            </p>
                                            <p>Head of Marketing, Ardor Group
                                            </p>

                                            <ul>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide reviews-info">
                                    <div class="reviews-personal">
                                        <img src="/Images/GIACeo.png" alt="">
                                        <div class="reviews-personal__text">
                                            <p>Peter Nguyen</p>
                                            <p>VP of marketing, Gia Capital LLC.</p>


                                            <ul>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide reviews-info">
                                    <div class="reviews-personal">
                                        <img src="/Images/Phil.png" alt="">
                                        <div class="reviews-personal__text">
                                            <p>Phil Greswold</p>
                                            <p>MD, KEEP</p>


                                            <ul>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                                <li><img src="/Images/star.png" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="reviewSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide reviews-quote">
                                    <q>They managed to offer a professional website that was so affordable compared to
                                        the effort that they put in.
                                    </q>
                                </div>
                                <div class="swiper-slide reviews-quote">
                                    <q>Their designers did an awesome job and we felt that they are masters of their
                                        craft.</q>
                                </div>
                                <div class="swiper-slide reviews-quote">
                                    <q>
                                        Their good communication stood out for us.
                                    </q>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a target="_blank" rel="noopener noreferrer" href="https://clutch.co/profile/alignvn#reviews"
                        class="reviews-logo hover">
                        <img src="/Images/Slogan.png" alt="">
                        <p>Reviews from Clutch</p>
                    </a>
                </div>
            </div>
        </section>
        <section class="wehave last-section">
            <div class="container">
                <div class="wehave-title">
                    We have lorem isum process
                </div>
                <div class="wehave-list">
                    <div class="wehave-item">
                        <div class="wehave-item__count">
                            01
                        </div>
                        <div class="wehave-item__desc">
                            Discovery
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                    <div class="wehave-item">
                        <div class="wehave-item__count">
                            02
                        </div>
                        <div class="wehave-item__desc">
                            Strategy
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                    <div class="wehave-item">
                        <div class="wehave-item__count">
                            03
                        </div>
                        <div class="wehave-item__desc">
                            Stylescape
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                    <div class="wehave-item">
                        <div class="wehave-item__count">
                            04
                        </div>
                        <div class="wehave-item__desc">
                            Design
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                    <div class="wehave-item">
                        <div class="wehave-item__count">
                            05
                        </div>
                        <div class="wehave-item__desc">
                            Guideline
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                    <div class="wehave-item">
                        <div class="wehave-item__count">
                            06
                        </div>
                        <div class="wehave-item__desc">
                            Usage
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer-container">
                <div class="footer-wrap">
                    <div class="footer-outter">
                        <div class="footer-heading">
                            <a href="/works.html" class="footer-heading__text">
                                <span>See our</span> <br>
                                <span>Branding project</span>
                            </a>
                            <a href="/works.html" class="hide-cursor hide-on-mobile" id="circle-footer">
                                <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer" />

                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer__clone" />
                                </svg>
                            </a>
                        </div>
                        <div class="footer-bottom">
                            <div class="footer-body">
                                <div class="footer-contact order-2">
                                    <a href="mailto:info@align.vn" class="footer-gmail">
                                        info@align.vn
                                    </a>
                                    <div class="footer-address">
                                        <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                            rel="noopener noreferrer">
                                            <span>
                                                256/10 Pham Van Hai, Ward 5,
                                            </span>
                                            <br>
                                            <span>Tan Binh District, HCM City</span>
                                        </a>
                                    </div>
                                </div>
                                <a href="/Contact.html" class="footer-button">
                                    <div class="project-button">
                                        <div class="button">
                                            <div class="button__filler"></div>
                                            <span class="button__text">
                                                <span class="button__text-inner">Start a project</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <div class="footer-times order-3">
                                    <div class="footer-usa">
                                        <div id="time-sf"></div>
                                        <div>PST,SF</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-texas"></div>
                                        <div>CST,TX</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-atlanta"></div>
                                        <div>EST,ATL</div>
                                    </div>
                                    <div class="footer-usa">
                                        <div id="time-vietnam"></div>
                                        <div>HCMC,VN</div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-end">
                                <div class="footer-private">
                                    <div class="footer-policy ">
                                        <a class="hover" href="#">Privacy Policy</a>
                                    </div>
                                    <div class="footer-copyrights">
                                        <a class="hover" href="#">© Align 2022</a>
                                    </div>
                                </div>
                                <div class="footer-sub hover">
                                    Subscribe to our Newsletter
                                </div>
                                <div class="footer-social">
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.facebook.com/alignlab">Facebook</a>
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                    <a target="_blank" rel="noopener noreferrer" class="hover"
                                        href="https://www.instagram.com/align.vn/">Instagram</a>
                                </div>
                            </div>
                        </div>
                        <form
                            action="https://align.us14.list-manage.com/subscribe/post?u=5c43dcc9081fb93efbefd4d66&amp;id=f3ae99ddbd"
                            method="post" id="mc-embedded-subscribe-form" class="validate footer-form" target="_blank"
                            novalidate>
                            <input type="email" placeholder="Add your email address" name="EMAIL" id="mce-EMAIL">
                            <a onclick="document.getElementById('mc-embedded-subscribe-form').submit()"
                                class="hide-cursor" id="circle-footer" value="Subscribe">
                                <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer" />
                                    <path
                                        d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                        stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                        id="arrow-footer__clone" />
                                </svg>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </div>



    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>
    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
</body>

</html>