<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factory Food Rebranding for health - Align</title>
    <meta name="dc.relation" content="https://align.vn/work/bizen/" />
    <meta name="dc.source" content="https://align.vn/" />
    <meta name="dc.language" content="en_US" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://align.vn/work/bizen/" />
    <meta property="og:url" content="https://align.vn/work/bizen/" />
    <meta property="og:site_name" content="Align" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/alignlab" />
    <meta property="article:publisher" content="https://www.facebook.com/alignlab" />
    <meta property="og:title" content="Factory Food Rebranding for HealthBIZEN Catering, Ice and Water" />
    <meta property="og:image" content="/Images/BizenBanner.webp" />
    <meta property="og:image:secure_url" content="/Images/BizenBanner.webp" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="1000" />
    <!-- 3DFlipbook CSS -->
    <link rel="stylesheet" type="text/css" href="/dflip/css/dflip.min.css" />
    <link rel="stylesheet" type="text/css" href="/dflip/css/themify-icons.min.css" />
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/App/Scss/style.css">
    <!-- Link Locomotive CSS -->
    <link rel="stylesheet" href="/App/Css/locomotive.css">
    <!-- Link Splitting CSS -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- LightGallery CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.1/css/lightgallery-bundle.css">
    <link rel="shortcut icon" href="/Images/ShortCut.png" />
</head>

<body>
    <div id="loading"></div>
    <div class="cursor-follow">
        <span class="cursor-view">
            View
        </span>
    </div>
    <div id="process-bar">
    </div>
    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">
                    <div class="close-absolute">
                        <div class="menu-black__close hide-cursor">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Start-a-project.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" class="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    class="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Start-a-project.html">Start a project</a>
                        <a href="tel:0902826031">(+84)902 826 031</a>
                        <a href="mailto:info@align.vn">info@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <!-- <a href="/career.html" onclick="return false;" class="hover">Career</a> -->
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="wrapper smooth-scroll" data-scroll-container>
        <div class="mt work3">
            <div class="container work1  last-section lightgallarey">
                <div class="ct-title">
                    Bizen Catering

                </div>
                <div class="button-type work1-type">
                    <div>Brand Identity and Application</div>
                </div>

                <a href="/Images/Bizen-KeyVisual-Wide.webp" class="lightgallarey-item work1-banner mb-14 full-image">
                    <img src="/Images/Bizen-KeyVisual-Wide.webp" alt="">
                </a>


                <div class="work1-flex work1-about">
                    <div class="work1-desc mb-4">
                        Brands Created
                        <br><span class="yellow fs-20"> 1 Main
                        </span>
                        <br>
                        Brands Created
                        <br><span class="yellow fs-20"> 3 Sub Brands
                        </span>
                        <br>
                        # of Brand Applications Created
                        <br><span class="yellow fs-20"> 3 Sub Brands
                        </span>
                    </div>
                    <div class="work1-desc">
                        Bizen Catering Co., Ltd. is a family company established in 2012 at Lot C2, quarter 4, Tân Hiệp
                        ward, Biên Hoà, Đồng Nai Province of Vietnam. They provide professional meals for factory
                        workers in the industrial zone, mainly AMATA Đồng Nai. Additionally, Bizen also produces and
                        distributes pure drinking ice and water in the same area.
                    </div>
                </div>


                <a href="/Images/Bizen-sketches-1.webp" class="lightgallarey-item full-image mb-14">
                    <img src="/Images/Bizen-sketches-1.webp" alt="">
                </a>

                <div class="work1-flex work1-challenge mb-8">
                    <div class="work1-title">
                        Finding the best through revision

                    </div>
                    <div class="work1-desc">
                        <div class="work1-challenge">
                            Align knew that designing the perfect logo for Bizen would take a more time, effort and lots
                            of sketching. We produce hundreds of logos on piles of pages until we found the best ones.
                        </div>
                    </div>
                </div>

                <div class="work1-flex work3-result">
                    <div class="work1-title">
                        The Logo symbolism


                    </div>
                    <div class="work1-desc">
                        The logo is inspired by 6 elements: hand, heart, people, water, fire and food tray. Water and
                        fire are indispensable factors to cook a meal. In addition, water is also one of Bizen's main
                        products. The image of 2 hands facing upward (look like a heart as well) is supporting the drop
                        of water (fire). The logo is similar to a person in general.
                    </div>
                </div>

                <div class="flex mb-8">
                    <a href="/Images/BizenLogo1.webp" class="lightgallarey-item center-image mb-8">
                        <img src="/Images/BizenLogo1.webp" alt="">
                    </a>
                    <a href="/Images/BizenLogo2.webp" class="lightgallarey-item center-image mb-8">
                        <img src="/Images/BizenLogo2.webp" alt="">
                    </a>
                    <a href="/Images/BizenLogo3.webp" class="lightgallarey-item center-image mb-8">
                        <img src="/Images/BizenLogo3.webp" alt="">
                    </a>
                    <a href="/Images/BizenLogo4.webp" class="lightgallarey-item center-image mb-8">
                        <img src="/Images/BizenLogo4.webp" alt="">
                    </a>


                </div>

                <div class="center-text work1-desc mb-14">
                    "Bizen team and our partners are very pleased with this rebranding change. Many factories would
                    like to cooperate with Bizen's Catering services after the rebrand."
                    <br>
                    <br>
                    "Align design can display the right idea. I would like to work with Align on future projects."
                    <br>
                    <br>
                    <span class="italic">MR. HIEU TRAN</span><br>
                    Founder and Director of Bizen
                </div>

                <div class="work1-flex work3-result">
                    <div class="work1-title">
                        Applications
                    </div>
                    <div class="work1-desc">
                        After creating the brand identity, Align help Bizen apply the brand elements in the form of
                        business
                        cards, letterheads, envelops, uniforms, trucks, and even lunch trays.
                    </div>
                </div>


                <a href="/Images/BizenBanner1.webp" class="lightgallarey-item center-image mb-14">
                    <img src="/Images/BizenBanner1.webp" alt="">
                </a>

                <div class="flex mb-14">
                    <a href="/Images/BizenBanner2.webp" class="lightgallarey-item center-image">
                        <img src="/Images/BizenBanner2.webp" alt="">
                    </a>
                    <a href="/Images/Bizen6.jpg" class="lightgallarey-item center-image">
                        <img src="/Images/Bizen6.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen4.webp" class="lightgallarey-item center-image">
                        <img src="/Images/Bizen4.webp" alt="">
                    </a>
                    <a href="/Images/Bizen5.webp" class="lightgallarey-item center-image">
                        <img src="/Images/Bizen5.webp" alt="">
                    </a>
                    <a href="/Images/BizenBanner3.webp" class="lightgallarey-item center-image">
                        <img src="/Images/BizenBanner3.webp" alt="">
                    </a>
                    <a href="/Images/Bizen7.webp" class="lightgallarey-item center-image">
                        <img src="/Images/Bizen7.webp" alt="">
                    </a>
                    <a href="/Images/Bizen8.jpg" class="lightgallarey-item w-50">
                        <img src="/Images/Bizen8.jpg" alt="">
                    </a>
                </div>

                <a href="/Images/Bizen9.webp" class="lightgallarey-item">
                    <img src="/Images/Bizen9.webp" alt="">
                </a>
                <a href="/Images/Bizen10.webp" class="lightgallarey-item ">
                    <img src="/Images/Bizen10.webp" alt="">
                </a>
                <a href="/Images/Bizen11.webp" class="lightgallarey-item">
                    <img src="/Images/Bizen11.webp" alt="">
                </a>
                <a href="/Images/Bizen12.webp" class="lightgallarey-item ">
                    <img src="/Images/Bizen12.webp" alt="">
                </a>
                <a href="/Images/Bizen13.jpg" class="lightgallarey-item ">
                    <img src="/Images/Bizen13.jpg" alt="">
                </a>
                <a href="/Images/Bizen14.webp" class="lightgallarey-item ">
                    <img src="/Images/Bizen14.webp" alt="">
                </a>
                <a href="/Images/Bizen15.jpg" class="lightgallarey-item ">
                    <img src="/Images/Bizen15.jpg" alt="">
                </a>
                <a href="/Images/Bizen16.jpg" class="lightgallarey-item ">
                    <img src="/Images/Bizen16.jpg" alt="">
                </a>
                <a href="/Images/Bizen17.jpg" class="lightgallarey-item mb-14">
                    <img src="/Images/Bizen17.jpg" alt="">
                </a>

                <div class="work1-flex work3-result">
                    <div class="work1-title">
                        POSM Materials & Print materials
                    </div>
                    <div class="work1-desc mb-8">
                        Align helped Bizen to apply the branding strategy and applications. According to Mr. Hieu, CEO
                        of
                        Bizen. "Thank you Align, because of the branding Bizen started to speed up! The branding has
                        help
                        with some new customer contact".
                    </div>
                </div>

                <div class="flex flex-4">
                    <a href="/Images/Bizen18.jpg" class="lightgallarey-item center-image">
                        <img src="/Images/Bizen18.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen19.jpg" class="lightgallarey-item center-image">
                        <img src="/Images/Bizen19.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen20.jpg" class="lightgallarey-item center-image">
                        <img src="/Images/Bizen20.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen21.jpg" class="lightgallarey-item center-image">
                        <img src="/Images/Bizen21.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen22.jpg" class="lightgallarey-item center-image">
                        <img src="/Images/Bizen22.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen23.jpg" class="lightgallarey-item center-image">
                        <img src="/Images/Bizen23.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen24.jpg" class="lightgallarey-item w-50">
                        <img src="/Images/Bizen24.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen25.jpg" class="lightgallarey-item w-50">
                        <img src="/Images/Bizen25.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen26.jpg" class="lightgallarey-item w-50">
                        <img src="/Images/Bizen26.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen27.jpg" class="lightgallarey-item w-50">
                        <img src="/Images/Bizen27.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen28.jpg" class="lightgallarey-item w-50">
                        <img src="/Images/Bizen28.jpg" alt="">
                    </a>
                    <a href="/Images/Bizen29.webp" class="lightgallarey-item w-50">
                        <img src="/Images/Bizen29.webp" alt="">
                    </a>
                </div>

                <a href="/Images/Bizen30.webp" class="lightgallarey-item mb-14">
                    <img src="/Images/Bizen30.webp" alt="">
                </a>

                <div class="work1-flex mb-8">
                    <div class="work1-title">
                        The brand guidebook
                    </div>
                    <div class="work1-desc">
                        The brand guidebook was given to Bizen and their team to continue to keep their branding
                        consistent and perhaps work to build on new materials.
                    </div>
                </div>

                <div id="flipbookContainer" class="mb-8"></div>
            </div>
            <footer class="footer">
                <div class="container footer-container">
                    <div class="footer-wrap">
                        <div class="footer-outter">
                            <div class="footer-heading">
                                <a href="/Work/SolutionsMet.html" class="footer-heading__text">
                                    <span>SolutionMets</span> <br>
                                </a>
                                <a href="/Work/SolutionsMet.html" class="hide-cursor hide-on-mobile" id="circle-footer">
                                    <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer" />

                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer__clone" />
                                    </svg>
                                </a>
                            </div>

                            <div class="footer-bottom">
                                <div class="footer-body">
                                    <div class="footer-contact order-2">
                                        <a href="mailto:info@align.vn" class="footer-gmail">
                                            info@align.vn
                                        </a>
                                        <div class="footer-address">
                                            <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                                rel="noopener noreferrer">
                                                <span>
                                                    256/10 Pham Van Hai, Ward 5,
                                                </span>
                                                <br>
                                                <span>Tan Binh District, HCM City</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="/Start-a-project.html" class="footer-button">
                                        <div class="project-button">
                                            <div class="button">
                                                <div class="button__filler"></div>
                                                <span class="button__text">
                                                    <span class="button__text-inner">Start a project</span>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="footer-times order-3">
                                        <div class="footer-usa">
                                            <div id="time-sf"></div>
                                            <div>PST,SF</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-texas"></div>
                                            <div>CST,TX</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-atlanta"></div>
                                            <div>EST,ATL</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-vietnam"></div>
                                            <div>HCMC,VN</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-end">
                                    <div class="footer-private">
                                        <div class="footer-policy ">
                                            <a class="hover" href="#">Privacy Policy</a>
                                        </div>
                                        <div class="footer-copyrights">
                                            <a class="hover" href="#">© Align 2022</a>
                                        </div>
                                    </div>
                                    <div class="footer-sub hover">
                                        Subscribe to our Newsletter
                                    </div>
                                    <div class="footer-social">
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.facebook.com/alignlab">Facebook</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.instagram.com/align.vn/">Instagram</a>
                                    </div>
                                </div>
                            </div>
                            <div id="mc_embed_signup">
                                <form
                                    action="https://align.us14.list-manage.com/subscribe/post?u=5c43dcc9081fb93efbefd4d66&amp;id=f3ae99ddbd"
                                    method="post" id="mc-embedded-subscribe-form" class="validate" target="_blank"
                                    novalidate>
                                    <div class="footer-form" id="mc_embed_signup_form">
                                        <input type="email" placeholder="Add your email address" name="EMAIL"
                                            id="mce-EMAIL" class="input-email">
                                        <div id="mce-responses" class="input-erorr">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none">

                                            </div>
                                        </div>
                                        <button type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="circle-footer hide-cursor">
                                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer" />
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer__clone" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57482225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-57482225-1');
    </script>
    <!-- Pixel Code for https://analysis.alignlab.com/ -->
    <script async src="https://analysis.alignlab.com/pixel/UcKTADruVngdbcVP"></script>
    <!-- Mailchimp -->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);
    </script>
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- LightGallery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/lightgallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/plugins/video/lg-video.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/plugins/zoom/lg-zoom.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- 3D FlipBook -->
    <script src="/dflip/js/dflip.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>
    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
    <script>

        jQuery(document).ready(function () {

            //uses source from online(make sure the file has CORS access enabled if used in cross domain)
            var pdf = '/Images/Bizen-BrandGuidebook.pdf';


            var flipBook = $("#flipbookContainer").flipBook(pdf);

        });
    </script>
</body>

</html>