<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Society</title>
    <meta name="dc.relation" content="https://align.vn/Work/DataSociety/" />
    <meta name="dc.source" content="https://align.vn/" />
    <meta name="dc.language" content="en_US" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:url" content="https://align.vn/Work/DataSociety/" />
    <meta property="og:site_name" content="Align" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/alignlab" />
    <meta property="article:publisher" content="https://www.facebook.com/alignlab" />
    <meta property="og:title" content="Funingpu" />
    <meta property="og:image" content="/Images/DataBanner.png" />
    <meta property="og:image:secure_url" content="/Images/DataBanner.png" />
    <meta property="og:image:width" content="2376" />
    <meta property="og:image:height" content="1509" />
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/App/Scss/style.css">
    <!-- Link Locomotive CSS -->
    <link rel="stylesheet" href="/App/Css/locomotive.css">
    <!-- Link Splitting CSS -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- LightGallery CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.1/css/lightgallery-bundle.css">
    <link rel="shortcut icon" href="/Images/ShortCut.png" />
</head>

<body>
    <div id="loading"></div>
    <div class="cursor-follow">
        <span class="cursor-view">
            View
        </span>
    </div>
    <div id="process-bar">
    </div>
    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">
                    <div class="close-absolute">
                        <div class="menu-black__close hide-cursor">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Start-a-project.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" class="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    class="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Start-a-project.html">Start a project</a>
                        <a href="tel:0902826031">(+84)902 826 031</a>
                        <a href="mailto:info@align.vn">info@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <!-- <a href="/career.html" onclick="return false;" class="hover">Career</a> -->
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="wrapper smooth-scroll" data-scroll-container>
        <div class="mt work3">
            <div class="container work1 data last-section lightgallarey">
                <div class="ct-title">
                    Data Society
                </div>
                <div class="button-type work1-type">
                    <div>Webiste</div>
                    <div>UI/UX</div>
                </div>

                <a href="/Images/Data1.png" class="lightgallarey-item">
                    <img class="data-banner data-mb" src="/Images/Data1.png" alt="">
                </a>


                <div class="work1-flex work1-about">
                    <div class="work1-title">
                        About Data Society
                    </div>
                    <div class="work1-desc">
                        Data Society delivers data science training programs and AI/ML solutions that transform the way
                        enterprises operate. Recognized by Forbes as a Top Ten EdTech company, our award-winning
                        training, built on real-world use cases, maximizes workforce development and ROI.
                    </div>
                </div>


                <div class="work3-video">
                    <video autoplay loop playsinline muted>
                        <source src="/Images/DataVideoBanner.webm" type="video/webm">
                        <source src="/Images/DataVideoBanner.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="work1-flex mb-20 ">
                    <div class="work1-title data-text">
                        Challenge
                    </div>
                    <div class="work1-desc ">
                        <div class="work1-challenge  data-text">
                            The client’s business has been growing extraordinarily recently as the need for AI is
                            growing. Their’s customers are big enterprises and governments. But their brand is not
                            reflecting their unprecedented growth. Even though the client has undergone many website
                            redesigns, they still haven’t received any lead coming from their website in the last 7
                            years. Align has partnered with an American agency to rebrand and redesign their website.
                        </div>
                    </div>
                </div>


                <div class="lightgallarey-item w-8 mb-20 border-image border-image__purple">
                    <video preload autoplay loop playsinline muted class="f-video">
                        <source src="/Images/DataVideo.webm" type="video/webm">
                        <source src="/Images/DataVideo.mp4" type="video/mp4">
                    </video>
                </div>


                <div class="work1-flex work1-approach ">
                    <div class="work1-title  data-text">
                        The impact
                    </div>
                    <div class="work1-desc  data-text">
                        <div>The new website’s design has reflected Data Society’s new brand strategy. The content flow
                            and
                            the graphic elements have worked together hamorniously to tell the story in a way that their
                            audiences perceive Data Society as the leader in data science training.</div>
                        <br>
                        <div>"Previously, people would call us after looking at our website and ask us to explain what
                            we did. On top of that, we'd never had a lead on our website in seven years. By contrast,
                            we've received 13 leads from it last week. In other words, our ability to tell our story
                            clearly has truly improved."</div>
                    </div>
                </div>


                <div class=" w-8 mb-20 border-image border-image__purple">
                    <video preload autoplay loop playsinline muted class="f-video">
                        <source src="/Images/DataVideo1.webm" type="video/webm">
                        <source src="/Images/DataVideo1.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="work1-flex work3-result">
                    <div class="work1-title mw-300  data-text">
                        A thoughtful insight page
                    </div>
                    <div class="work1-desc  data-text">
                        Data Society's leaders decided that SEO is very important to bring traffic to the website and
                        building online authority for the domain. The insight page must be well organized and designed
                        to make the audience feel comfortable while reading the content. A filter is built to help the
                        audience filter the category that they want to read. When the audience find useful informatin,
                        they'll keep reading which help increase the rank of the domain in the search engine.
                    </div>
                </div>

                <div class="w-8 mb-20 border-image border-image__purple">
                    <video preload autoplay loop playsinline muted class="f-video">
                        <source src="/Images/DataVideo2.webm" type="video/webm">
                        <source src="/Images/DataVideo2.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="work1-flex work3-result">
                    <div class="work1-title mw-300  data-text">
                        Real-world Impact Case Studies
                    </div>
                    <div class="work1-desc  data-text">
                        Case study is a place to show how Data Society is making real impact on the world. Each service
                        appear in the website has a case study to demonstrate how it is applied in the real world. You
                        doesn't want to leave but can't help keep reading their intesting stories.
                    </div>
                </div>

                <a href="/Images/Data7.png" class="lightgallarey-item w-8 mb-20 border-image border-image__purple">
                    <img src="/Images/Data7.png" alt="">
                </a>

                <div class="work1-flex work3-result">
                    <div class="work1-title mw-300  data-text">
                        Ongoing support
                    </div>
                    <div class="work1-desc data-text">
                        We offer our client free support for at least 3 months after the project is done. We help them
                        to speed up and maintain the website. Prepared intuitive back-end environment that help their
                        editor make the blog posts comfortably. Many months later, we still look after their website to
                        make sure it's backed up and technically healthy, for free.
                    </div>
                </div>

                <a href="/Images/Data2.png" class="lightgallarey-item full-image mb-14">
                    <img src="/Images/Data2.png" alt="">
                </a>

                <div class="data-flex">
                    <a href="/Images/Dataa3.png" class="lightgallarey-item  mb-14">
                        <img src="/Images/Dataa3.png" alt="">
                    </a>
                    <a href="/Images/Data4.png" class="lightgallarey-item  mb-14">
                        <img src="/Images/Data4.png" alt="">
                    </a>
                    <a href="/Images/Data5.png" class="lightgallarey-item  mb-14">
                        <img src="/Images/Data5.png" alt="">
                    </a>
                    <a href="/Images/Data6.png" class="lightgallarey-item mb-14">
                        <img src="/Images/Data6.png" alt="">
                    </a>
                </div>

                <div class="project-button">
                    <div class="button button-datasociety">
                        <div class="button__filler"></div>
                        <span class="button__text">
                            <span class="button__text-inner"><a target="_blank" rel="noopener noreferrer"
                                    href="https://datasociety.com/">Visit Website</a></span>
                        </span>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container footer-container">
                    <div class="footer-wrap">
                        <div class="footer-outter">
                            <div class="footer-heading">
                                <a href="/Work/msi.html" class="footer-heading__text">
                                    <span>Marie Stopes International</span> <br>
                                </a>
                                <a href="/Work/msi.html" class="hide-cursor hide-on-mobile" id="circle-footer">
                                    <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer" />

                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer__clone" />
                                    </svg>
                                </a>
                            </div>
                            <div class="footer-bottom">
                                <div class="footer-body">
                                    <div class="footer-contact order-2">
                                        <a href="mailto:info@align.vn" class="footer-gmail">
                                            info@align.vn
                                        </a>
                                        <div class="footer-address">
                                            <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                                rel="noopener noreferrer">
                                                <span>
                                                    256/10 Pham Van Hai, Ward 5,
                                                </span>
                                                <br>
                                                <span>Tan Binh District, HCM City</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="/Start-a-project.html" class="footer-button">
                                        <div class="project-button">
                                            <div class="button">
                                                <div class="button__filler"></div>
                                                <span class="button__text">
                                                    <span class="button__text-inner">Start a project</span>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="footer-times order-3">
                                        <div class="footer-usa">
                                            <div id="time-sf"></div>
                                            <div>PST,SF</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-texas"></div>
                                            <div>CST,TX</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-atlanta"></div>
                                            <div>EST,ATL</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-vietnam"></div>
                                            <div>HCMC,VN</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-end">
                                    <div class="footer-private">
                                        <div class="footer-policy ">
                                            <a class="hover" href="#">Privacy Policy</a>
                                        </div>
                                        <div class="footer-copyrights">
                                            <a class="hover" href="#">© Align 2022</a>
                                        </div>
                                    </div>
                                    <div class="footer-sub hover">
                                        Subscribe to our Newsletter
                                    </div>
                                    <div class="footer-social">
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.facebook.com/alignlab">Facebook</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.instagram.com/align.vn/">Instagram</a>
                                    </div>
                                </div>
                            </div>
                            <div id="mc_embed_signup">
                                <form
                                    action="https://align.us14.list-manage.com/subscribe/post?u=5c43dcc9081fb93efbefd4d66&amp;id=f3ae99ddbd"
                                    method="post" id="mc-embedded-subscribe-form" class="validate" target="_blank"
                                    novalidate>
                                    <div class="footer-form" id="mc_embed_signup_form">
                                        <input type="email" placeholder="Add your email address" name="EMAIL"
                                            id="mce-EMAIL" class="input-email">
                                        <div id="mce-responses" class="input-erorr">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none">

                                            </div>
                                        </div>
                                        <button type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="circle-footer hide-cursor">
                                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer" />
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer__clone" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57482225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-57482225-1');
    </script>
    <!-- Pixel Code for https://analysis.alignlab.com/ -->
    <script async src="https://analysis.alignlab.com/pixel/UcKTADruVngdbcVP"></script>
    <!-- Mailchimp -->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);
    </script>
    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- LightGallery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/lightgallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/plugins/video/lg-video.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/plugins/zoom/lg-zoom.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>

    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
</body>

</html>