<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seedling website for leading fruit distributor - Align</title>
    <meta name="dc.relation" content="https://align.vn/work/nafoods-group/" />
    <meta name="dc.source" content="https://align.vn/" />
    <meta name="dc.language" content="en_US" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:url" content="https://align.vn/work/nafoods-group/" />
    <meta property="og:site_name" content="Align" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/alignlab" />
    <meta property="article:publisher" content="https://www.facebook.com/alignlab" />
    <meta property="og:title" content="Seedling website for leading fruit distributorNafoods Group" />
    <meta property="og:image" content="/Images/NaFoodBanner.webp" />
    <meta property="og:image:secure_url" content="/Images/NaFoodBanner.webp" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="1000" />
    <meta property="og:image:alt" content="Nafoods Packaging" />
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/App/Scss/style.css">
    <!-- Link Locomotive CSS -->
    <link rel="stylesheet" href="/App/Css/locomotive.css">
    <!-- Link Splitting CSS -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- LightGallery CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.1/css/lightgallery-bundle.css">
    <link rel="shortcut icon" href="/Images/ShortCut.png" />
</head>

<body>
    <div id="loading"></div>
    <div class="cursor-follow">
        <span class="cursor-view">
            View
        </span>
    </div>
    <div id="process-bar">
    </div>
    <header class="header">
        <div class="nav">
            <div class="nav-logo">
                <a href="/" id="lottie" class="logo">

                </a>

                <span class="nav-ol">
                    <span>BRANDING.</span>
                    <span>WEBSITE.</span>
                    <span>SEO</span>
                </span>
            </div>


            <div class="burger hide-cursor">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="menu">
            <div class="menu-grey">
                <div class="menu-grey__wrap">
                    <div class="close-absolute">
                        <div class="menu-black__close hide-cursor">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="circle-menu" class="menu-grey__circle">
                        <a href="/Start-a-project.html" class="hide-cursor menu-grey__svg">
                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round" class="arrow-menu" />

                                <path d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                    stroke="white" stroke-width="1.12442" stroke-linecap="round"
                                    class="arrow-menu__clone" />
                            </svg>
                        </a>
                    </div>


                    <div class="menu-grey__info">
                        <a href="/Start-a-project.html">Start a project</a>
                        <a href="tel:0902826031">(+84)902 826 031</a>
                        <a href="mailto:info@align.vn">info@align.vn</a>
                    </div>
                    <div class="menu-grey__social">
                        <a href="https://www.facebook.com/alignlab/" target="_blank" rel="noopener noreferrer"
                            class="hover">Facebook</a>
                        <a href="https://www.instagram.com/align.vn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Instagram</a>
                        <a href="https://www.linkedin.com/company/alignvn/" target="_blank" rel="noopener noreferrer"
                            class="hover">Linkedin</a>
                        <!-- <a href="/career.html" onclick="return false;" class="hover">Career</a> -->
                    </div>
                </div>
            </div>
            <div class="menu-black">
                <div class="menu-black__wrap">
                    <div class="menu-black__close hide-cursor">
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu-black__list">
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Website</span>
                                <span>Website</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>Branding</span>
                                <span>Branding</span>
                            </a>i
                        </li>
                        <li class="menu-black__item">
                            <a href="/works.html" class="menu-black__link hover">
                                <span>SEO</span>
                                <span>SEO</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/about.html" class="menu-black__link hover">
                                <span>About</span><span>About</span>
                            </a>
                        </li>
                        <li class="menu-black__item">
                            <a href="/insights.html" class="menu-black__link hover">
                                <span>Insights</span><span>Insights</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="wrapper smooth-scroll" data-scroll-container>
        <div class="mt work3">
            <div class="container work1  last-section lightgallarey">
                <div class="ct-title">
                    Nafoods Group
                </div>
                <div class="button-type work1-type">
                    <div>Website Design & Development</div>
                </div>

                <a href="/Images/NafoodBanner1.webp" class="lightgallarey-item work1-banner mb-14 full-image">
                    <img src="/Images/NafoodBanner1.webp" alt="">
                </a>


                <div class="work1-flex work1-about">
                    <div class="work1-desc mb-4">
                        Digital Strategy
                        <br>
                        User Experience
                        <br>
                        Responsive Design
                        <br>
                        Intuitive Content Management
                    </div>
                    <div class="work1-desc">
                        Align helped Nafoods Group design and develop their website for selling to Vietnamese farmers
                        seeds, sapling and fertilizers. This new market had its challenges because farmers in Vietnam
                        are mostly outside and most are not used to operating with a computer or smart phone. Align
                        needed to consider these factors to make the website load fast, intuitive and ordering process
                        simple.
                    </div>
                </div>


                <a href="/Images/NaFoodBanner2.webp" class="lightgallarey-item center-image mb-14">
                    <img src="/Images/NaFoodBanner2.webp" alt="">
                </a>

                <div class="work1-flex work1-challenge mb-8">
                    <div class="work1-title">
                        Speed and mobile optimized
                    </div>
                    <div class="work1-desc">
                        <div class="work1-challenge">
                            One of the most aspect of the Nafoods website is the load time and the mobile optimization.
                            Vietnamese farmers are not used to technology and cannot wait. More and more are utilizing
                            mobile phone to help them communicate and this is their access point for the website.
                            Knowing all this - Align design a website that is fast but also mobile optimized.
                        </div>
                    </div>
                </div>



                <a href="/Images/NaFoodBanner5.png" class="lightgallarey-item center-image mb-14">
                    <img src="/Images/NaFoodBanner5.png" alt="">
                </a>


                <div class="work1-flex work3-result">
                    <div class="work1-title">
                        Organic look and feel

                    </div>
                    <div class="work1-desc">
                        The design focus on creating an organic feel that mirror the feel of nature. Unlike most
                        agriculture website in Vietnam, however, the information and layout is simple and organize -
                        allowing the farmers to have a different perspective and appreciation for the detail given to
                        the website
                    </div>
                </div>

                <a href="/Images/NaFoodBanner6.png" class="lightgallarey-item center-image mb-14">
                    <img src="/Images/NaFoodBanner6.png" alt="">
                </a>

                <div class="work1-flex work3-result">
                    <div class="work1-title">
                        Location lookup

                    </div>
                    <div class="work1-desc">
                        Because farmers are not used to shopping and buying online - the buying experience had to be
                        tailored towards them. Align created a map so that it was easy for the farmers to lookup stores
                        that had their product and then order through the phone - which is the most convenient and best
                        user experience.
                    </div>
                </div>

                <a href="/Images/NaFoodBanner3.webp" class="lightgallarey-item center-image mb-14">
                    <img src="/Images/NaFoodBanner3.webp" alt="">
                </a>

                <a href="/Images/NaFoodBanner4.webp" class="lightgallarey-item center-image mb-14">
                    <img src="/Images/NaFoodBanner4.webp" alt="">
                </a>

            </div>
            <footer class="footer">
                <div class="container footer-container">
                    <div class="footer-wrap">
                        <div class="footer-outter">
                            <div class="footer-heading">
                                <a href="/Work/Furas.html" class="footer-heading__text">
                                    <span>Furas Furniture</span> <br>
                                </a>
                                <a href="/Work/Furas.html" class="hide-cursor hide-on-mobile" id="circle-footer">
                                    <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer" />

                                        <path
                                            d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                            stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                            class="arrow-footer__clone" />
                                    </svg>
                                </a>
                            </div>
                            <div class="footer-bottom">
                                <div class="footer-body">
                                    <div class="footer-contact order-2">
                                        <a href="mailto:info@align.vn" class="footer-gmail">
                                            info@align.vn
                                        </a>
                                        <div class="footer-address">
                                            <a href="https://g.page/align-branding-design-web?share" target="_blank"
                                                rel="noopener noreferrer">
                                                <span>
                                                    256/10 Pham Van Hai, Ward 5,
                                                </span>
                                                <br>
                                                <span>Tan Binh District, HCM City</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="/Start-a-project.html" class="footer-button">
                                        <div class="project-button">
                                            <div class="button">
                                                <div class="button__filler"></div>
                                                <span class="button__text">
                                                    <span class="button__text-inner">Start a project</span>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="footer-times order-3">
                                        <div class="footer-usa">
                                            <div id="time-sf"></div>
                                            <div>PST,SF</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-texas"></div>
                                            <div>CST,TX</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-atlanta"></div>
                                            <div>EST,ATL</div>
                                        </div>
                                        <div class="footer-usa">
                                            <div id="time-vietnam"></div>
                                            <div>HCMC,VN</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-end">
                                    <div class="footer-private">
                                        <div class="footer-policy ">
                                            <a class="hover" href="#">Privacy Policy</a>
                                        </div>
                                        <div class="footer-copyrights">
                                            <a class="hover" href="#">© Align 2022</a>
                                        </div>
                                    </div>
                                    <div class="footer-sub hover">
                                        Subscribe to our Newsletter
                                    </div>
                                    <div class="footer-social">
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.facebook.com/alignlab">Facebook</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.linkedin.com/company/alignvn/">Linkedin</a>
                                        <a target="_blank" rel="noopener noreferrer" class="hover"
                                            href="https://www.instagram.com/align.vn/">Instagram</a>
                                    </div>
                                </div>
                            </div>
                            <div id="mc_embed_signup">
                                <form
                                    action="https://align.us14.list-manage.com/subscribe/post?u=5c43dcc9081fb93efbefd4d66&amp;id=f3ae99ddbd"
                                    method="post" id="mc-embedded-subscribe-form" class="validate" target="_blank"
                                    novalidate>
                                    <div class="footer-form" id="mc_embed_signup_form">
                                        <input type="email" placeholder="Add your email address" name="EMAIL"
                                            id="mce-EMAIL" class="input-email">
                                        <div id="mce-responses" class="input-erorr">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none">

                                            </div>
                                        </div>
                                        <button type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="circle-footer hide-cursor">
                                            <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer" />
                                                <path
                                                    d="M16.673 16.4019H32.3976M32.3976 16.4019V32.1266M32.3976 16.4019L16.673 32.1266"
                                                    stroke="black" stroke-width="1.12442" stroke-linecap="round"
                                                    class="arrow-footer__clone" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57482225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-57482225-1');
    </script>
    <!-- Pixel Code for https://analysis.alignlab.com/ -->
    <script async src="https://analysis.alignlab.com/pixel/UcKTADruVngdbcVP"></script>
    <!-- Mailchimp -->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);
    </script>
    <!-- Locomotive JS -->
    <script src="/App/Js/Locomotive/index.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
    <!-- Splitting JS -->
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- LightGallery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/lightgallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/plugins/video/lg-video.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/plugins/zoom/lg-zoom.min.js"></script>
    <!-- ThreeJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Lottie Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>

    <!-- Main JS -->
    <script src="/App/Js/index.js" type="module"></script>
</body>

</html>