.slogan {
    padding-top: 18.5rem;


    &-text {
        font-size: 4.8rem;
        line-height: 140%;
        font-weight: 400;
        color: $black;
    }
    &-animation {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    &-orange {
        color: $yellow;
    }
    &-award {
        display: flex;
        align-items: center;
        &__content {
            font-size: 1.250vw;
            position: relative;
            overflow: hidden;
            > a {
                display: block;
                transform: translateY(0);
                margin-bottom: 10px;
            }
        }

        &__full {
            justify-content: flex-end;
            width: 100%;

            @include breakpoint-down(medium) {
                justify-content: space-between;
            } 
        }
    }

    &-logo {
        cursor: pointer;
        margin-right: 4rem;
        > img {
            max-width: 55px;
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
    .slogan-text {
        font-size: 3.333vw;
    }
}
@include breakpoint-down(medium) {
    .slogan-award__content > a {
        font-size: 1.92rem;
    }
}
@include breakpoint-down(small) {
    .slogan {
        padding-top: 2rem;

        &-wrap {
            flex-direction: column;
        }

        &-text {
            font-size: 2rem;
            line-height: 140%;
            width: 100%;
            margin-bottom: 45px;
        }
        &-award {
            width: 100%;
            justify-content: space-between;

            &__content {
                font-size: 1.4rem;


                > a >  img {
                    width: 1.2rem;
                }
            }
        }
        &-logo > img{
            max-width: 48px;
        }
        &-animation {
            display: unset;
            line-height: 150%;
        }

    }
}

@media screen and (max-width: 1024px) {
    .slogan-award__content {
        font-size: 1.6rem;
    }
}